<h6 class="mt-2 pb-2 border-bottom"><b><a href="/tds/dashboard"><i class="uil uil-multiply"
        style="color: black;"></i></a> TDS Return Dashboard</b></h6>
<div class="col-md-12">
  <div class="row" align="right">
    <div class="col-md-8"></div>
    <div class="col-md-2">
    </div>
    <div class="col-md-12" style="display: flex; justify-content: flex-end;">
      <select name="" id="" class="form-select me-2 select-cloud">
        <option *ngFor="let financialyear of financialYearList" [value]="financialyear.value">
          {{ financialyear.label }}
        </option>
      </select>
      <button class="btn btn-fent-cloud" (click)="onClickNewReturn()"><i class="uil uil-plus"></i> New Return</button>
    </div>
  </div>
</div>
<!-- ag-grid -->
<app-data-grid class="ag-theme-alpine" #declaredGrid [tableData]="tdsReturnList" [tableColumns]="declaredTableColumns"
  [isEditable]="false" [isSortable]="true" [isFilterable]="false" [isColumnFilterable]="false" [isResizable]="false"
  [isPageable]="true" [defaultPageSize]="12" (selectedRows)="selectEmployee($event)" (rowAction)="onRowAction($event)">
</app-data-grid>
<!-- end of ag-grid -->
<!-- Buttons -->
<div class="row mb-3 mt-4">
  <div class="col-12 mx-2 " align="left">
    <a type="button" class="btn btn-cloud" href="/tds/dashboard">Dashboard</a>&nbsp;&nbsp;
    <a type="button" class="btn btn-cloud" href="/tds/dashboard">Lock Return</a>&nbsp;&nbsp;
  </div>
</div>
<!-- end of button -->

<!-- model -->
<button type="button" id="newreturnmodel" style="display: none;" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#exampleModal3">
  Launch demo modal
</button>
<!-- model-start -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border: none; background-color:  #9938A5; color: white !important;">
        <h4 class="modal-title " id="exampleModalLabel3">New Return</h4>
        <a type="button" class="btn-close" id="closemodal2" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body p-5" id="modalMessage">
        <!-- new return form start -->
        <form #newreturn="ngForm" (ngSubmit)="OnSaveClick()">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">Financial Year*</label>
                <select name="" id="" class="form-select me-2">
                  <option *ngFor="let financialyear of financialYearList" [value]="financialyear.value">
                    {{ financialyear.label }}
                  </option>
                </select>
              </div>
              <div class=" form-group col-md-6">
                <div class="form-group">
                  <label class="control-label">Return Type*</label>
                  <select name="" id="" class="form-select me-2 ">
                    <option *ngFor="let returnType of returnTypeList" [value]="returnType.value">
                      {{ returnType.label }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">Quarter*</label>
                <select name="" id="" class="form-select me-2 ">
                  <option *ngFor="let quarterType of quarterTypeList" [value]="quarterType.value">
                    {{ quarterType.label }}
                  </option>
                </select>
              </div>
              <div class=" form-group col-md-6">
                <div class="form-group">
                  <label class="control-label">Statement Type*</label>
                  <select name="" id="" class="form-select me-2 ">
                    <option *ngFor="let statementType of statementTypeList" [value]="statementType.value">
                      {{ statementType.label }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="text-center">
              <button class="btn" style="border: none; background-color:  #9938A5; color: white;">Submit</button>
            </div>
          </div>
        </form>
        <!-- new return form end -->
      </div>
    </div>
  </div>
</div>