<div class="container-flude">
    <div class="row">
       
        <div class="col-md-12 mt-3">
            <div class="row ">
                <!-- <div>
                    <a href="poi/dashboard"  class="btn btn-outline-primary btn-block" tabindex="4"
                                rippleEffect>
                                Back
                   </a>
                </div> -->
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-5">
                    
                    <div align="center">
                        <div class="mb-3">
                            <h4>Change Password</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <form class="auth-login-form mt-2" [formGroup]="changePasswordForm">
                                
                                <label for="" class="mb-1">Old Password</label>
                                <div class="mb-2 input-group input-group-merge form-password-toggle">
                                    
                                    <input
                                    [type]="passwordTextType ? 'text' : 'password'"
                                    formControlName="PasswordHash"
                                    class="form-control form-control-merge"
                                    [ngClass]="{ 'is-invalid error': submitted && f.PasswordHash.errors }"
                                    placeholder="············"
                                    aria-describedby="login-password"
                                    tabindex="2"
                                      
                                    />
                                    <div class="input-group-append">
                                      <span class="input-group-text cursor-pointer"
                                        ><i
                                        class="uil  align-middle me-1"
                                        [ngClass]="{
                                            ' uil-eye': passwordTextType,
                                            'uil-eye-slash': !passwordTextType
                                          }"
                                          (click)="togglePasswordTextType()"

                                          
                                        ></i
                                      ></span>
                                    </div>
                                  </div>
                                  <label for="" class="mb-1">New Password</label>
                                  <div class="mb-2 input-group input-group-merge form-password-toggle">
                                    <input
                                      
                                    [type]="newpasswordTextType ? 'text' : 'password'"
                                    formControlName="NewPassword"
                                    class="form-control form-control-merge"
                                    [ngClass]="{ 'is-invalid error': submitted && f.NewPassword.errors }"
                                    placeholder="············"
                                    aria-describedby="login-password"
                                    tabindex="2"
                                    />
                                    <div class="input-group-append">
                                      <span class="input-group-text cursor-pointer"
                                        ><i
                                        class="uil  align-middle me-1"
                                          [ngClass]="{
                                            ' uil-eye': newpasswordTextType,
                                            'uil-eye-slash': !newpasswordTextType
                                          }"
                                          (click)="toggleNewPasswordTextType()"
                                        
                                        ></i
                                      ></span>
                                    </div>
                                  </div>
                                  <label for="" class="mb-1">Confirm New Password</label>
                                  <div class="mb-2 input-group input-group-merge form-password-toggle">
                                    <input
                                    [type]="confirmNewpasswordTextType ? 'text' : 'password'"
                                    formControlName="confirmNewPassword"
                                    class="form-control form-control-merge"
                                    [ngClass]="{ 'is-invalid error': submitted && f.confirmNewPassword.errors }"
                                    placeholder="············"
                                    aria-describedby="login-password"
                                    tabindex="2"
                                    />
                                    <div class="input-group-append">
                                      <span class="input-group-text cursor-pointer"
                                        ><i
                                        class="uil  align-middle me-1"
                                        [ngClass]="{
                                          ' uil-eye': confirmNewpasswordTextType,
                                          'uil-eye-slash': !confirmNewpasswordTextType
                                        }"
                                        (click)="toggleConfirmNewPasswordTextType()"
                                         
                                          
                                        ></i
                                      ></span>
                                    </div>
                                  </div>

                            </form>
                            <div class="mt-4 d-grid" align="center">
                                <a  class="btn btn-primary btn-block" tabindex="4"
                                    rippleEffect
                                    (click)="ChangePassword()">
                                    Confirm
                            </a><br>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>