<section class="mt-100">
  <div class="container p-4">
    <h2 class="text-primary text-center pb-4" style="font-weight: 700">
      Cloudstine Automation Pvt. Ltd. Privacy Policy
    </h2>

    <h3 style="font-weight: 500">
      Please read the following privacy policy for the use of our website:
    </h3>

    <p class="text-muted" style="text-align: justify">
      &nbsp;&nbsp;The terms "We" / "Us" / "Our"/”Company” individually and collectively refer to Cloudstine Automation
      Private
      Limited, and the terms "You" / "Your" / "Yourself" refer to the users.<br /><br />
      &nbsp;&nbsp;&nbsp; This Privacy Policy is an electronic record under the Information Technology Act, 2000, and the
      rules made thereunder. It is a legally binding document between you and Cloudstine Automation Private Limited.
      Your acceptance of this Privacy Policy, either directly or indirectly (by using the website), establishes a legal
      agreement governing the relationship between you and Cloudstine Automation Private Limited for your use of the
      website.<br /><br />
      &nbsp;&nbsp; This Privacy Policy is in accordance with the Information Technology (reasonable security
      practices and procedures and sensitive personal data or information) rules, 2011 under the Information Technology
      Act, 2000. It mandates the publishing of the Privacy Policy for the collection, use, storage, and transfer of
      sensitive personal data or information. <br /><br />
      &nbsp;&nbsp;By using the Website, you indicate that you understand, agree, and consent to this Privacy
      Policy. If you disagree with the terms, please refrain from using this Website.
      <br /><br />
    </p>

    <h3 style="font-weight: 500">User Information</h3>
    <p class="text-muted" style="text-align: justify">
      &nbsp;&nbsp; Cloudstine Automation Pvt. Ltd. prioritizes the privacy protection of our customers. To access
      certain services on
      our Websites, users are required to provide information during the registration process, including but not limited
      to:- a) Name, b) Email address, c) Gender, d)
      Age, e) PIN code, f) Credit card or debit card details g) Financial history h) Sexual orientation, i) Other
      personal information, j) Password
      Occupation, interests, etc.
      , This information enables us to improve our sites and provide you with the most user-friendly experience.
      <br /><br />
      &nbsp;&nbsp;We use your information to provide requested products and services, report on your account,
      offer relevant information, products, or services, and enhance our offerings. These activities may be performed by
      us or a service provider acting on our behalf.
    </p> <br />

    <h3 style="font-weight: 500">Cookies</h3>
    <p class="text-muted" style="text-align: justify">
      &nbsp;&nbsp; To improve site responsiveness, we may use "cookies" to collect information. Cookies are small files
      placed on
      your computer or mobile device as you visit various components of our websites. These help customize your
      experience by assigning each visitor a unique, random number as a User Identification (User ID).<br /><br />
      &nbsp;&nbsp; When your Internet browser visits a web page, a cookie with a unique number is set. This number
      is recorded in a small text file transmitted to your computer, stored in the cookie directory of your hard drive.
      The website can recognize your browser as a unique user during subsequent visits. Unless you voluntarily identify
      yourself, we have no way of knowing who you are, even if we assign a cookie to your computer.<br /><br />
    </p>

    <h3 style="font-weight: 500">Links to Other Sites</h3>
    <p class="text-muted" style="text-align: justify">
      Our privacy policy applies to our website only. While our site provides links to other websites, we are not
      responsible for your use of such sites.
    </p><br /><br />

    <h3 style="font-weight: 500">Information Sharing</h3>
    <p class="text-muted" style="text-align: justify">
      &nbsp;&nbsp; We share sensitive personal information with third parties without obtaining user consent only under
      limited
      circumstances, including when requested or required by law, court, or government agency. Information may also be
      shared within our group companies and officers and employees of such group companies for processing personal
      information on our behalf.
    </p>
    <p class="text-muted" style="text-align: justify">
      &nbsp;&nbsp; We proposes to share such information within its group companies and
      officers and employees of such group companies for the purpose of
      processing personal information on its behalf. We also ensure that these
      recipients of such information agree to process such information based on
      our instructions and in compliance with this Privacy Policy and any other
      appropriate confidentiality and security measures.
    </p><br /><br />

    <h3 style="font-weight: 500">Information Security</h3>
    <p class="text-muted" style="text-align: justify">
      Appropriate security measures are taken to protect against unauthorized access, alteration, disclosure, or
      destruction of data. These include internal reviews of our data practices and security measures, encryption, and
      physical security measures.
    </p><br /><br />

    <h3 style="font-weight: 500">Grievance Redressal</h3>
    <p class="text-muted" style="text-align: justify">
      For complaints, abuse, or concerns related to content or a breach of these terms, contact our designated Grievance
      Officer, Vinit Ugale, via email at vinit.ugale@cloudstine.com.
    </p><br /><br />

    <h3 style="font-weight: 500">Effective Date</h3>
    <p class="text-muted mb-5" style="text-align: justify">
      This privacy policy is effective from 30th April 2020. Changes may be made from time to time, and the updated copy
      will be available on this page.
    </p>
    <p class="mt-5" style="font-weight: 700">Cloudstine Automation Pvt. Ltd.</p>
    <p class="mb-0 bold">Office No 301, 3rd Floor, Epicenter,</p>
    <p class="mb-0 bold">Old Pune Mumbai Road, Near Shoppers Stop,</p>
    <p class="mb-0 bold">Wakdewadi, Shivajinagar, Pune-411005</p>
    <p class="mb-0 bold">Email: support@cloudstine.com</p>
    <p class="mb-0 bold">Ph No: 08068944550</p><br /><br />
  </div>
</section>