<div class="row d-flex justify-content-end">
  <div class="col-auto">
    <button type="button" class="btn addButton" (click)="onClickAddUserAccess()" style="background-color: #EBD7ED;">+ Add User
      Access</button>
  </div>
  <app-data-grid class="ag-theme-alpine" #viewEmployeeGrid [tableData]="data" [tableColumns]="userTableColumns"
    [actionColumns]="userActionColumns" [rowSelection]="rowSelection" [isEditable]="false" [isSortable]="true"
    [isFilterable]="false" [isColumnFilterable]="false" [isResizable]="false" [isPageable]="true" [defaultPageSize]="10"
    (selectedRows)="selectEmployee($event)" (rowAction)="onRowAction($event)" (actionButton)="onActionButton($event)">
  </app-data-grid>

  <button type="button" id="example3" style="display: none;" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal3">
    Launch demo modal
  </button>
  <!-- <model> -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="border: none; background-color:  #9938A5; color: white !important;">
          <h4 class="modal-title" id="exampleModalLabel3">Access Details</h4>
          <a type="button" class="btn-close" id="closemodal2" data-bs-dismiss="modal" aria-label="Close"></a>
        </div>
        <div class="modal-body p-5" id="modalMessage">
          <form #register="ngForm" (ngSubmit)="OnSaveClick()">
            <div class="row ">
              <div class="form-group">
                <label class="control-label">User Name:</label>
                <select name="users" class="form-control" [(ngModel)]="accessControlModel.userName" #userRole="ngModel" required>
                  <option value="" disabled>Select User Name</option>
                  <option *ngFor="let user of users" [value]="user">{{ user }}</option>
                  <!-- <input type="text" name="text" class="form-control" placeholder="Enter Name" [(ngModel)]="user.name"
                #name="ngModel" required> -->
                  <!-- <div class="form text text-danger"
                    *ngIf="(name.touched || register.submitted || name.dirty) && name.errors?.['required']">This field
                    is
                    Required</div> -->
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="form-group">
                <label class="control-label">Application</label>
                <select name="users" class="form-control" [(ngModel)]="accessControlModel.userName" #userRole="ngModel" required>
                  <option value="" disabled>Select User Name</option>
                  <option *ngFor="let user of users" [value]="user">{{ user }}</option>
                  <!-- <input type="text" name="text" class="form-control" placeholder="Enter Name" [(ngModel)]="user.name"
                #name="ngModel" required> -->
                  <!-- <div class="form text text-danger"
                    *ngIf="(name.touched || register.submitted || name.dirty) && name.errors?.['required']">This field
                    is
                    Required</div> -->
                </select>
              </div>  
            </div>
            <div class="row mt-3">
              <div class="form-group">
                <label class="control-label">Role
                </label>
                <select name="users" class="form-control" [(ngModel)]="accessControlModel.userName" #userRole="ngModel" required>
                  <option value="" disabled>Select User Name</option>
                  <option *ngFor="let user of users" [value]="user">{{ user }}</option>
                  <!-- <input type="text" name="text" class="form-control" placeholder="Enter Name" [(ngModel)]="user.name"
                #name="ngModel" required> -->
                  <!-- <div class="form text text-danger"
                    *ngIf="(name.touched || register.submitted || name.dirty) && name.errors?.['required']">This field
                    is
                    Required</div> -->
                </select>
              </div>
            </div><br>
            <div class="text-center">
              <button class="btn" style="border: none; background-color:  #9938A5; color: white;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>