<div class="container-flude">
  <div class="row" style="height:100vh;">
    <div class="col-md-5 pc-button d-flex align-items-center justify-content-center" style="background-color: #9938A5;">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <img src="assets/images/Cloudstine/rightside_image.png" alt="" width="70%" height="auto" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-center text-white">
            <h2>Cloudstine One Account</h2>
            <h4>One Account. Multiple Apps</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <!--Sign Up Form-->
      <div class="row  mx-2 my-5" *ngIf="signUP">
        <div class="col-md-11">
          <!--Button-->
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-outline-cloud" (click)="Home_Page()">Home</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-cloud" (click)="onSignInClick()">Sign In</button>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">


          <!--Cloudstine Logo-->
          <div class="row mt-3">
            <div class="text-left ps-0">
              <img src="assets/images/Cloudstine/cloudstine.png" alt="" width="50%" height="auto">
            </div>
          </div>

          <!--Sign In-->
          <div class="row mt-3">
            <div class="text-left">
              <h3>Sign Up</h3>
              <form class="sign-up-form" [formGroup]="signUpForm">
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="form-label">Your Name<span class="text-danger">*</span></label>
                      <input type="email" class="form-control" placeholder="Enter Name" formControlName="Name" />
                      <div class="form text text-danger"
                        *ngIf="signUpForm.controls['Name'].invalid && (signUpForm.controls['Name'].dirty || signUpForm.controls['Name'].touched)">
                        <div *ngIf="signUpForm.controls['Name'].errors">
                          Please provide valid Name
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="form-label">Mail ID<span class="text-danger">*</span></label>
                      <input type="email" class="form-control" placeholder="Enter Email ID" formControlName="EmailId" />
                      <div class="form text text-danger"
                        *ngIf="signUpForm.controls['EmailId'].invalid && (signUpForm.controls['EmailId'].dirty || signUpForm.controls['EmailId'].touched)">
                        <div *ngIf="signUpForm.controls['EmailId'].errors">
                          Please provide valid Email Id
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="form-label">Mobile Number<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter Mobile Number"
                        formControlName="MobileNo" maxlength="10" />
                      <div class="form text text-danger"
                        *ngIf="signUpForm.controls['MobileNo'].invalid && (signUpForm.controls['MobileNo'].dirty || signUpForm.controls['MobileNo'].touched)">
                        <div *ngIf="signUpForm.controls['MobileNo'].errors">
                          Please provide valid Mobile Number
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-5">
                    <div class="d-grid">
                      <button class="btn btn-cloud" [disabled]="signUpForm.invalid" (click)="onNextClick()">
                        Next
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <!--OTP-->
      <div class="row my-5 mx-2" *ngIf="isVerifyOTP && !signUP">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
          <!--Button-->
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn" style="border: 1px solid  #9938A5; color: #9938A5;"
                (click)="backToSignUp()">Back</button>
            </div>
          </div>

          <!--Cloudstine Logo-->
          <div class="row mt-3">
            <div class="text-left">
              <img src="assets/images/Cloudstine/cloudstine.png" alt="" width="50%" height="auto">
            </div>
          </div>

          <!--OTP-->
          <div class="row mt-3">
            <div class="text-left">
              <div class="form-group">
                <label class="form-label">OTP<span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter OTP" [class]="isShake ? 'onClickShake' : ''"
                  [(ngModel)]="this.EnterOTP" name="OTP" #OTP="ngModel">
                <div class="col-md-12">
                  <span class="text-muted" style="font-size: 12px;">OTP is sent on your mail ID</span>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="d-grid">
                  <button class="btn" (click)="onClickVerifyOTP()" style="background-color:  #9938A5; color: white;">
                    Verify OTP
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Create Password-->
      <div class="row my-5 mx-2" *ngIf="createPass && !isVerifyOTP && !signUP">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
          <!--Button-->
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn" style="border: 1px solid  #9938A5; color: #9938A5;"
                (click)="backToOTP()">Back</button>
            </div>
          </div>

          <!--Cloudstine Logo-->
          <div class="row mt-3">
            <div class="text-left">
              <img src="assets/images/Cloudstine/cloudstine.png" alt="" width="50%" height="auto">
            </div>
          </div>

          <!--OTP-->
          <div class="row mt-3">
            <div class="text-left">
              <h3>Create Password</h3>
              <form #setPasswordForm="ngForm">
                <label class="form-label" for="UserName">Password<span class="text-danger">*</span></label>
                <div class="mb-2 input-group input-group-merge form-password-toggle">
                  <input [type]="passwordTextType ? 'text' : 'password'" ngModel name="password" required
                    class="form-control" placeholder="Enter Password">
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><i class="uil  align-middle me-1" [ngClass]="{
                        ' uil-eye': passwordTextType,
                        'uil-eye-slash': !passwordTextType
                      }" (click)="togglePasswordTextType()"></i></span>
                  </div>
                </div>
                <label class="form-label" for="UserName">Re Enter Password<span class="text-danger">*</span></label>
                <div class="mb-2 input-group input-group-merge form-password-toggle">
                  <input [type]="repasswordTextType ? 'text' : 'password'" ngModel name="confirmPassword"
                    class="form-control" placeholder="Re Enter Password">
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><i class="uil  align-middle me-1" [ngClass]="{
                        ' uil-eye': repasswordTextType,
                        'uil-eye-slash': !repasswordTextType
                      }" (click)="toggleRePasswordTextType()"></i></span>
                  </div>
                </div>

                <div class="col-md-12 mt-5">
                  <div class="d-grid">
                    <button class="btn" style="background-color:  #9938A5; color: white;"
                      (click)="setPassword(setPasswordForm)">
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>