<div class="" style="height: 10vh;"></div>

<div class="">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="text-left">
                    <h3><b>Automate Patch Management on<br> cloud anytime, anywhere</b></h3>
                    <ul style="list-style-type: none;">
                        <li>
                            <p> <i class="uil uil-check-circle icon"></i>&nbsp;&nbsp;Manage systems across the network
                                seamlessly, right from the cloud console.</p>
                        </li>
                        <li>
                            <p> <i class="uil uil-check-circle icon"></i>&nbsp;&nbsp;Patch systems hosted on AWS and
                                Azure
                                instances with Patch Manager Plus cloud.</p>
                        </li>
                        <li>
                            <p> <i class="uil uil-check-circle icon"></i>&nbsp;&nbsp;Steer clear of
                                vulnerabilities and cyberattacks with Patch Manager Plus.</p>
                        </li>
                        <li>
                            <p> <i class="uil uil-check-circle icon"></i>&nbsp;&nbsp;Seamlessly deploy updates for
                                Windows,
                                macOS, Linux, and 850+ third-party applications.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/tech18.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <!-- <div class="row px-5">
            <div class="mt-5">
                <div class="text-center">
                    <img src="assets/images/Home_Page/screen3.png" width="80%" height="auto">
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="container mt-5">
    <div class="text-center px-5">
        <h3><b>Cloud-based patching is the way forward</b></h3>
        <p class="mt-3">Managing a hybrid environment of computers, minimal investments for infrastructure and
            maintenance, improved productivity and less downtime - account for why you should adopt cloud-based patch
            management!</p>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil uil-book-alt icon"></i>
                    <h4 class="mt-3"><b>Automated Patch management</b></h4>
                    <p class="details">Automate all phases of patch management - from scanning, assessment, deployment
                        and reporting.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil uil-blogger-alt icon"></i>
                    <h4 class="mt-3"><b>Third party applications patching</b></h4>
                    <p class="details">Manage and deploy patches to over 850+ 3rd party applications such as Adobe,
                        Java, WinRAR and
                        more.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil  uil-briefcase-alt icon"></i>
                    <h4 class="mt-3"><b>Flexible deployment policies</b></h4>
                    <p class="details">Customize patch deployment policies at ease, to meet your unique business needs.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil uil-brightness-plus icon"></i>
                    <h4 class="mt-3"><b>Test & approve patches</b></h4>
                    <p class="details">Create test groups, test patches and approve for deployment to production
                        environments
                        automatically.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil  uil-clipboard icon"></i>
                    <h4 class="mt-3"><b>Windows 10 Feature Update Deployment</b></h4>
                    <p class="details">Deploy latest Windows 10 feature updates without affecting your productivity.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card p-5">
                <div class="text-left">
                    <i class="uil  uil-desktop-alt icon"></i>
                    <h4 class="mt-3"><b>Decline patches/applications</b></h4>
                    <p class="details">Prioritize your deployment by declining less critical patches, declined patches
                        can be rolled
                        back and revoked for deployment.
                    </p>
                    <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center">
            <h2><b>Complete process of Patch management <br>automated on cloud</b></h2>
        </div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil uil-desktop-cloud-alt icons"></i>
                <h4 class="mt-3"><b>Latest patches - database sync</b></h4>
                <p class="details">The vulnerability database is always up-to-date with the latest patches.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil uil-folder-lock icons"></i>
                <h4 class="mt-3"><b>Scan and detect missing patches</b></h4>
                <p class="details">Scan the computers and detect the missing patches on a real time basis.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil uil-horizontal-align-right icons"></i>
                <h4 class="mt-3"><b>Download and deploy</b></h4>
                <p class="details">Download the missing patches & deploy the approved patches automatically.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center"> <a class="fs-6" routerLink="/home">
                <span>Learn More
                    &nbsp;</span> <i class="fa fa-arrow-right " aria-hidden="true"></i>
            </a></div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="text-center px-5">
            <p class="fs-5"><b>"Since we’ve deployed ManageEngine's patch management, we have been able to manage our
                    ever-growing environment with much ease. We are now able to easily deploy updates and patches to
                    these
                    end-point, addressing the increasing risk of outdated systems"</b></p>

        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center px-5">
            <p>"Since we’ve deployed ManageEngine's patch management, we have been able to manage our ever-growing
                environment with much ease. We are now able to easily deploy updates and patches to these end-point,
                addressing the increasing risk of outdated systems"
            </p>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/kuldip_botre.jpeg">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3 p-5">
        <div class="text-center">
            <h4>Trusted by great brands</h4>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/taxblock.png" alt="">
                    </div>
                </div>
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/SUDARSHANCHEMICALS.png" alt="">
                    </div>
                </div>
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/Excelacom.PNG" alt="">
                    </div>
                </div>
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/hexaware.png" alt="">
                    </div>
                </div>
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/HPE.png" alt="">
                    </div>
                </div>
                <div class="col-sm-2 mt-3 d-flex justify-content-center align-items-center">
                    <div class="img-fluid">
                        <img src="assets/images/Cloudstine/tataMotors.png" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-2">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/hexaware.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/PerfectDayFoods.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>




<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 text-left">
            <h3><b>
                    Frequently asked questions
                </b></h3>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row" style="cursor: pointer;">
        <div class="text-left ">
            <div *ngFor="let faqItem of faqData">
                <div class="row" (click)="toggleAnswer(faqItem)">
                    <div class="col-md-11">
                        <div class="question">
                            <h5><b> {{ faqItem.question }}</b></h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="toggle-icon">
                            {{ faqItem.showAnswer ? '-' : '+' }}
                        </span>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="answer" *ngIf="faqItem.showAnswer">
                        <p>{{ faqItem.answer }}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>