<div class="btn-group" style="margin-top: 10px; margin-bottom: 20px;" role="group">
    <label>Select Entry Type</label>
    <label *ngFor="let option of radioOptions" class="radio-label" [ngClass]="{'active': selectedOption === option.value}" style="margin-left: 10px;">
      <input type="radio" [value]="option.value" [(ngModel)]="selectedOption" >
      {{ option.label }}
    </label>
  </div>
<div class="row">
                            
    <input type="hidden" formControlName="InvestmentColumnTypeCompanyMappingId" />

    <div class="col-lg-2 form-group">
        <label>Salary Section Name</label>
        <input type="text" name="mobile"  class="form-control" 
        pattern="^\d{10}$" maxlength="10" placeholder="Enter Section Name" required>
        <!-- <select class="form-control" 
            formControlName="FinancialYear" (change)="onYearChange($event)"
            class="form-select" style="width: 200px;height:35px">
            <option selected disabled value="0">Select Financial Year</option>
            <option *ngFor="let financialYear of financialYearList"
                [value]="financialYear.financialYearId">
                {{financialYear.displayYear}}
            </option>

        </select> -->
    </div>
    <div class="col-lg-3 form-group">
        <label>Salary Section Type</label>
        <!-- <input type="text" name="mobile"  class="form-control" 
        pattern="^\d{10}$" maxlength="10" placeholder="Enter Mobile Number" required> -->
        <select class="form-control" 
            formControlName="CompanyFinancialId"(change)="onCompanySelect($event)"
            class="form-select" style="width: 300px;height:35px">
            <option selected disabled value="0">Select Section Type</option>
            <option *ngFor="let companyData of companyList" [value]="companyData.companyFinancialId" >
                {{companyData.name}}
            </option>
        </select>
    </div>
    <div class="col-lg-2 mt-3">                                 
        <button type="submit" rippleEffect style="border: none; background-color: #9938A5 !important;"
        class="btn btn-primary" 
       (click)="onSaveTaxRegimeBinding()" >Save</button>                               
    </div>
</div>
<app-data-grid class="ag-theme-alpine" #viewEmployeeGrid [tableData]="data" [tableColumns]="userTableColumns"
[actionColumns]="userActionColumns" [isEditable]="false" [isSortable]="true"
[isFilterable]="false" [isColumnFilterable]="false" [isResizable]="false" [isPageable]="true" [defaultPageSize]="10"
 (rowAction)="onRowAction($event)" (actionButton)="onActionButton($event)">
</app-data-grid>
