<div class="" style="height: 9vh;"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-6 mt-5">
            <div class="text-left">
                <h2>Simplify financial compliances for individuals and businesses with Cloudstine's intuitive solutions.
                </h2>
            </div>
            <div class="text-left icon mt-5">
                <ul class="list-unstyled">
                    <li class="list-inline-item icon">
                        <a href="https://www.facebook.com/cloudstine" target="_blank" class=""><i
                                class="uil uil-facebook-f h5 mb-0"></i></a>
                    </li>
                    <li class="list-inline-item icon">
                        <a href="https://www.instagram.com/cloudstine/" target="_blank" class=""><i
                                class="uil uil-instagram h5 mb-0"></i></a>
                    </li>
                    <li class="list-inline-item icon">
                        <a href=" https://www.linkedin.com/company/cloudstine" target="_blank" class=""><i
                                class="uil uil-linkedin-alt h5 mb-0"></i></a>
                    </li>
                    <li class="list-inline-item icon">
                        <a href="https://twitter.com/cloudstine_" class="" target="_blank"><i
                                class="uil uil-twitter-alt h5 mb-0"></i></a>
                    </li>
                    <li class="list-inline-item icon">
                        <a href="https://www.youtube.com/@cloudstine" class="" target="_blank"><i
                                class="uil uil-youtube h5 mb-0"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-center">
                <img src="assets/images/Cloudstine/about.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <h2>About Us</h2>
        </div>
        <div class="text-center mt-3">
            <p>Cloudstine is a trailblazer in the digital landscape, providing innovative solutions in financial
                accounts and taxation since its inception. As a visionary fintech leader, Cloudstine delivers a suite of
                cloud applications and services designed to streamline processes such as Income Tax, TDS/TCS, GST, and
                Tax Planning. With a commitment to collaborative innovation, Cloudstine transforms ideas into dynamic
                solutions that exceed expectations. From E-POI for seamless proof of investment verification to Smart
                TDS for intelligent return filing, Cloudstine empowers businesses to navigate the complexities of
                financial compliance effortlessly. Our digital services, including HCR for human capital management and
                SAP services for robust financial transaction data management, showcase our dedication to holistic
                solutions. At Cloudstine, we redefine the future of financial management, ensuring businesses run at
                their best with digital sophistication.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        <div class="text-center">
            <h2>
                Our Core Beliefs and Commitments
            </h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/core_values.png" alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <p>
                    At Cloudstine, our foundation is built on a system that places knowledge, technology, and innovation
                    at the forefront of our priorities. We believe in fostering a culture that provides equal
                    opportunities to all employees, whether they are fresh talents or seasoned domain experts. Through
                    comprehensive training, we empower our team to deliver high-quality services to our clients.
                    Embracing change and innovation is ingrained in our DNA, as we continually seek new ways to foster
                    growth for both our organization and individuals within it. We cherish long-term relationships,
                    cultivating strong bonds within our team and with our clients. Our commitment is to be unwavering
                    partners to our clients, merging traditional values with innovative ideas to deliver unparalleled
                    and personalized services. At Cloudstine, we not only embrace change; we drive it.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        <div class="text-center">
            <h2>
                Vision at Cloudstine
            </h2>
        </div>
        <div class="text-center">
            <p>Empower all with tax literacy globally using Automation & AI technology for seamless financial
                understanding and compliance, transcending geographical boundaries.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <h2>
                Cloudstine's Mission
            </h2>
        </div>
        <div class="text-center">
            <p>Striving towards our vision, we are committed to deploying innovative solutions, fostering financial
                literacy, and leveraging advanced technology to make taxation accessible, understandable, and manageable
                for all.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <i class="uil uil-users-alt icons"></i>
                <h4>PEOPLE</h4>
                <p>
                    We work for our PEOPLE with our PEOPLE
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="uil uil-vector-square icons"></i>
                <h4>PROCESS</h4>
                <p>
                    We work for our PEOPLE with our PEOPLE
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="uil uil-user-arrows icons"></i>
                <h4>PARTNER</h4>
                <p>
                    Advance digital tools to provide effective services to existing PARTNERS
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="uil uil-airplay icons"></i>
                <h4>PRESENCE
                </h4>
                <p>
                    Extending the reach across the country while building a serviceable PRESENCE.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <i class="uil uil-money-stack icons"></i>
                <h4>PRICE</h4>
                <p>
                    Providing the excellent service at good PRICE
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <h2>Our Greatest Minds</h2>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-center image-container">
                    <img src="assets/images/Home_Page/Vinit Ugale.png">
                </div>
            </div>
            <div class="text-center mt-3">
                <h5>Vinit Ugale</h5>
                <h6>Founder & Director</h6>
            </div>
        </div>
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <p>The driving force behind Cloudstine, is characterized by simplicity, hard work, and a down-to-earth
                approach. A meticulous observer with an eye for detail, his diverse work experiences have sparked
                creative ideas that he envisioned applying across various facets of taxation. With a profound
                understanding of both direct and indirect taxation, Vinit's vision, coupled with his extensive
                knowledge, has successfully transformed these ideas into the reality that is Cloudstine today.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-center image-container">
                    <img src="assets/images/Home_Page/kuldip_botre.jpeg">
                </div>
            </div>
            <div class="text-center">
                <h5>Kuldip Botre</h5>
                <h6>Director & Support Hero</h6>
            </div>
        </div>
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <p>Meet Kuldip Botre, one of our Support Heroes and a pivotal Director at Cloudstine. Swiftly managing
                business and marketing, Kuldip is the gentle soul behind our customer service, ensuring fast and
                informative responses across all channels. Beyond his dedication to customer satisfaction, Kuldip is a
                road-trip enthusiast and avid singer. Anyone up for a ride? Don't be surprised if you catch him belting
                out tunes, as he also loves biking and is a passionate pet lover.</p>
        </div>
    </div>
</div>

<!-- <div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center">
            <h2>Core Members</h2>
        </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-indicators mt-5">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->