<p>about works!</p>
<div class="" style="height: 9vh;"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 mt-5">
            <div class="text-left">
                <h1>Simplifying the Financial Compliances for the</h1>
                <h1 style="color:#9938A5;">Individual & Businesses</h1>
            </div>
            <div class="text-left icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/about.png" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center">
            <h2>About Us</h2>
        </div>
        <div class="text-center mt-3">
            <p>Taxblock India Private Limited is instituted in 2019 by a team of eminent chartered accountants. Located
                in the heart of Pune, Maharashtra, the fintech organization has been established as an E-Return
                Intermediary in accordance with the Income Tax Department. Our team consists of in-house technology and
                tax experts who are working together to create a "Financial Compliance Ecosystem" for individuals and
                corporations.

                We are prioritized by our existing clients and every new client because our Compliance process is a
                combination of the traditional approach with automation that meets the need of our clients. We strive to
                provide year-round end-to-end support to our clients, making the tax filing process simple, convenient,
                and painless. From entry-level executives to CEO’s, we serve a diverse range of clients while developing
                long-term relationships with them.</p>
        </div>
    </div>

    <div class="row  mt-5">
        <div class="text-center">
            <h2>
                Our Philosophy
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="text-center">
                    <img src="assets/images/Home_Page/Our_Philosophy.png" alt="" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <p>
                    We believe in a system where we emphasize knowledge, technology, and innovation as priority. We
                    offer opportunities to all employees, whether they are fresher or domain experts, and equip them
                    with all of the necessary training to provide quality services to our clients.

                    We embrace change and innovation, and we are constantly looking for new ways to grow both our
                    organisation and ourselves. We prioritize long-term relationships, both within our organisation and
                    with our clients.

                    We strive to remain partners to our clients, combining traditional values with innovative ideas to
                    provide one-of-a-kind service.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center">
            <h2>
                Our Vision
            </h2>
        </div>
        <div class="text-center">
            <p>Our vision is to spread Tax literacy by extending the reach of our services to everyone, everywhere with
                the power of Automation & AI technology.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center">
            <h2>
                Our Mission
            </h2>
        </div>
        <div class="text-center">
            <p>We aim to achieve our vision with,</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <i class="uil-users-alt" style="font-size: 40px; color: #9938A5;"></i>
                    <h4>PEOPLE</h4>
                    <p>
                        We work for our PEOPLE with our PEOPLE
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="uil uil-vector-square " style="font-size: 40px; color: #9938A5;"></i>
                    <h4>PROCESS</h4>
                    <p>
                        We work for our PEOPLE with our PEOPLE
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="uil uil-user-arrows" style="font-size: 40px; color: #9938A5;"></i>
                    <h4>PARTNER</h4>
                    <p>
                        Advance digital tools to provide effective services to existing PARTNERS
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="uil uil-airplay" style="font-size: 40px; color: #9938A5;"></i>
                    <h4>PRESENCE
                    </h4>
                    <p>
                        Extending the reach across the country while building a serviceable PRESENCE.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <i class="uil uil-money-stack" style="font-size: 40px; color: #9938A5;"></i>
                    <h4>PRICE</h4>
                    <p>
                        Providing the excellent service at good PRICE
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center">
            <h2>Our Greatest Minds</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/Ganesh_Sir.png">
                    </div>
                </div>
                <div class="text-center">
                    <h5>Ganesh Agre</h5>
                    <h6>Business Analyst</h6>
                </div>
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <p>A taxation specialist works with zeal and honesty. She never cease to amaze with her creative
                    approaches
                    to simplifying people's financial lives. She has over 14 years of experience in direct taxation and
                    tax
                    auditing. For the past seven years, she has led direct taxation services for Indian and global
                    jurisdictions with her cutting-edge expertise. Her passion is in her fingers, and she enjoys staying
                    up
                    to date on the latest developments in Tax Compliances.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/Ganesh_Sir.png">
                    </div>
                </div>
                <div class="text-center">
                    <h5>Ganesh Agre</h5>
                    <h6>Business Analyst</h6>
                </div>
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <p>Simple, hardworking, and down-to-earth. A keen observer with a keen eye for detail. His diverse work
                    experience sparked some creative ideas that he thought could be applied in various areas of
                    taxation.
                    His vision, together with his diverse knowledge and experience in direct and indirect taxation,
                    steered
                    that thought process in the right direction, allowing the idea to become a reality.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/Ganesh_Sir.png">
                    </div>
                </div>
                <div class="text-center">
                    <h5>Ganesh Agre</h5>
                    <h6>Business Analyst</h6>
                </div>
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <p>Ram is one of our Support Heroes. He swiftly handles business and marketing, he is a gentle soul of
                    our
                    customer service. He makes sure our customers get fast and informative responses to their questions
                    for
                    all possible channels. Oh, and he loves road-trips and singing along – anyone up for a ride? as he
                    loves
                    biking and is a pet lover.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/Ganesh_Sir.png">
                    </div>
                </div>
                <div class="text-center">
                    <h5>Ganesh Agre</h5>
                    <h6>Business Analyst</h6>
                </div>
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <p>Rajvardhan is a true marvel of expertise with outstanding leadership qualities. Being the youngest
                    Director, his fresh ideas breathe life into our organisation making him a bonafide visionary. His
                    management skills and remarkable ability to connect with every team member fosters a harmonious work
                    environment.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="text-center">
            <h2>Core Members</h2>
        </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center image-container">
                                <img src="assets/images/Home_Page/Ganesh_Sir.png">
                            </div>
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <h5>Ganesh Agre</h5>
                            <h6>Business Analyst</h6>
                            <h6>"The Mud Runner"</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-indicators mt-5">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>