<div style="margin-top: 70px; margin-left: 5px;" class="row d-flex">
  <h6 class=" col-10 p-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b>User Management</b></h6>
  <h6 class="col-2 p-2" style="text-align: end; cursor: pointer;border-bottom: 2px solid rgb(230, 230, 230);"
      data-toggle="tooltip" title="Close"><i class="uil uil-multiply"></i></h6>
</div>
<header class="defaultscroll sticky">
  <div class="container-fluid">
    <div id="navigation">
      <ul class="navigation-menu" style="border-bottom: 0px solid rgb(230, 230, 230); display: flex; color: black !important; font-size: 15px; list-style: none;">
        <li>
          <a routerLink="/user/users" routerLinkActive="active" style="color: black;">USERS</a>
        </li>
        <li>
          <a routerLink="/user/access-control" routerLinkActive="active" style="color: black;">ACCESS CONTROL</a>
        </li>
      </ul>
    </div>
   
  </div>
</header>

<router-outlet></router-outlet>

<!-- <app-data-grid class="ag-theme-alpine" #viewEmployeeGrid [tableData]="data" [tableColumns]="userTableColumns"
  [actionColumns]="userActionColumns" [rowSelection]="rowSelection" [isEditable]="false" [isSortable]="true"
  [isFilterable]="false" [isColumnFilterable]="false" [isResizable]="false" [isPageable]="true" [defaultPageSize]="10"
  (selectedRows)="selectEmployee($event)" (rowAction)="onRowAction($event)" (actionButton)="onActionButton($event)">
</app-data-grid>
<div class="col-12 border-top" align="left" *ngIf="isMultipleSelected" style="position: fixed;text-align: center;
width: -webkit-fill-available; bottom:0;background: #fff;padding: 12px;">

  <button type="button" rippleEffect class="btn btn-success py-0 px-3 me-3" (click)="downloadClick()">Download
    List</button>
  <button type="button" rippleEffect class="btn btn-success py-0 px-3 me-3"
    (click)="multipleEmployeeStatusChange(1)">Active</button>
  <button type="button" rippleEffect class="btn btn-danger py-0 px-3 me-3"
    (click)="multipleEmployeeStatusChange(0)">Inactive</button>

</div> -->



 