<div style="height: 10vh;"></div>
<div class="container-flude">
    <div class="row" style="height:88vh;">
        <div class="col-md-5 pc-button d-flex align-items-center justify-content-center" style="background: #ad60b7;">
            <!-- Cloudstine Image -->
            <div class="row mt-0">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="assets/images/Home_Page/cloudstine_Login.png" alt="" width="70%" height="auto" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center text-white">
                        <h2>Cloudstine One Account</h2>
                        <h4>Forgot Password</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row my-5 mx-2">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <!--Button-->
                    <div class="row d-flex justify-content-end">
                        <div class="col-auto">
                            <button type="button" routerLink="/login" class="btn btn-outline-cloud">Back</button>
                        </div>
                    </div>
                    <!--Cloudstine Logo-->
                    <div class="row mt-3">
                        <div class="text-left">
                            <img src="assets/images/Home_Page/cloudstine_logo_PNG.png" alt="" width="30%" height="auto">
                        </div>
                    </div>
                    <h5 class="card-title">Create Password</h5>
                    <form #resetPasswordForm="ngForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Password <span class="text-danger">*</span></label>
                                    <div class=" input-group form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input [type]="passwordTextType ? 'text' : 'password'"
                                            [(ngModel)]="passwordHash" placeholder="Enter Your Password" name="password"
                                            #Password="ngModel" required class="form-control ps-5" />
                                        <span class="input-group-text cursor-pointer"
                                            (click)="passwordTextType = !passwordTextType">
                                            <i class="uil align-middle me-1" [ngClass]="{
                                                    ' uil-eye': passwordTextType,
                                                    'uil-eye-slash': !passwordTextType
                                                  }"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Re-Enter Password <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input [type]="NewPasswordTextType ? 'text' : 'password'"
                                            [(ngModel)]="newPassword" class="form-control ps-5"
                                            placeholder="Re-Enter Your Password" name="password" #Password="ngModel"
                                            required />
                                        <span class="input-group-text cursor-pointer"
                                            (click)="NewPasswordTextType = !NewPasswordTextType">
                                            <i class="uil align-middle me-1" [ngClass]="{
                                                        ' uil-eye': NewPasswordTextType,
                                                        'uil-eye-slash': !NewPasswordTextType
                                                      }"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="d-grid">
                                    <button type="button" class="btn btn-cloud"
                                        (click)="ResetPassword(resetPasswordForm)">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->