<div style="height: 10vh;"></div>
<div class="container-flude">
  <div class="row" style="height:88vh;">
    <div class="col-md-5 pc-button d-flex align-items-center justify-content-center" style="background: #ad60b7;">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <img src="assets/images/Home_Page/cloudstine_Login.png" alt="" width="70%" height="auto" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-center text-white">
            <h2>Cloudstine One Account</h2>
            <h4>Forgot Password</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row my-5 mx-2">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
          <!--Button-->
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-outline-cloud" 
               (click)="Home_Page() ">Home</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-cloud" 
              (click)="onSignInClick()">
              Sign In</button>
            </div>
          </div>

          <!--Cloudstine Logo-->
          <div class="row mt-3">
            <div class="text-left">
              <img src="assets/images/Home_Page/cloudstine_logo_PNG.png" alt="" width="30%" height="auto">
            </div>
          </div>
          <!-- Forgot Password Form -->
            <h5>Forgot Password</h5>
            <form #forgotPasswordForm="ngForm" class="login-form mt-3">
              <!-- Send OTP -->
              <div class="row" *ngIf="!EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Mail ID <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.UserName"
                        placeholder="Enter Mail ID" name="UserName" #UserName="ngModel" required />
                      <p class="mt-1">OTP is send on your registered mail ID</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button" class="btn btn-cloud" data-bs-toggle="modal" data-bs-target="#sendOTP"
                      (click)="SendOTP(forgotPasswordForm)">
                      Send OTP
                    </button>
                  </div>
                </div>
              </div>
              <!-- For OTP Verify -->
              <div class="row" *ngIf="EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">OTP<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.OTP"
                        placeholder="Enter Your OTP here" name="OTP" #OTP="ngModel" required />
                      <div style="font-size:12px; display: flex; justify-content: space-between;">
                        <p class="mb-2 mt-2">OTP is sent to your registered mail ID</p>
                        <a href="#" style="text-align:right; text-decoration: none;">Resend OTP</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button" class="ml-1 btn btn-cloud" data-bs-toggle="modal" data-bs-target="#confirmOTP"
                      (click)="ConfirmOTP(forgotPasswordForm)">
                      Verify OTP
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
