<section class="bg-home d-flex align-items-center" style="margin-top: 60px;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6 mt-3" style="background: #ad60b7;">
        <!-- Forgot Password Image -->
        <div class="me-lg-5">
          <img src="assets/images/Cloudstine/image (3).png" class="img-fluid d-block mx-auto" alt="image(3)"
            style="height:614px; width: 538px; " />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 container-fluid">
        <!-- Buttons -->
        <div align="right" class="mb-3">
          <button type="submit" class="btn btn-outline-cloud" routerLink="/home">Home</button>&nbsp;&nbsp;
          <a class="btn btn-cloud" routerLink="/login" role="button"> Sign In </a>
        </div>
        <!-- Forgot Password Form -->
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <!-- cloudstine Logo -->
            <div class="row mt-3">
              <div class="text-left">
                <img src="assets/images/Cloudstine/image (4).png" alt="" width="30%" height="auto">
              </div>
            </div>
            <h5>Forgot Password</h5>
            <form #forgotPasswordForm="ngForm" class="login-form mt-3">
              <!-- Send OTP -->
              <div class="row" *ngIf="!EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Mail ID <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.UserName"
                        placeholder="Enter Mail ID" name="UserName" #UserName="ngModel" required />
                      <p class="mt-1">OTP is send on your registered mail ID</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button" class="btn btn-cloud" data-bs-toggle="modal" data-bs-target="#sendOTP"
                      (click)="SendOTP(forgotPasswordForm)">
                      Send OTP
                    </button>
                  </div>
                </div>
              </div>
              <!-- For OTP Verify -->
              <div class="row" *ngIf="EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">OTP<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.OTP"
                        placeholder="Enter Your OTP here" name="OTP" #OTP="ngModel" required />
                      <div style="font-size:12px; display: flex; justify-content: space-between;">
                        <p class="mb-2 mt-2">OTP is sent to your registered mail ID</p>
                        <a href="#" style="text-align:right; text-decoration: none;">Resend OTP</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button" class="ml-1 btn btn-cloud" data-bs-toggle="modal" data-bs-target="#confirmOTP"
                      (click)="ConfirmOTP(forgotPasswordForm)">
                      Verify OTP
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->