<section class="bg-home d-flex align-items-center" style="margin-top: 60px;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6" style="background: #ad60b7;">
        <div class="me-lg-5">
          <img src="assets/images/Cloudstine/image (3).png" class="img-fluid d-block mx-auto" alt="image(3)" style="height:768px; width: 538px;
         " />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div align="right" class="mb-3">
          <button type="submit" class="btn btn-outline"
            style="background-color: white;color: #AD60B7;border-color: #AD60B7;">Home</button>
          <a class="btn custom-btn"
            style="background-color:#9938A5;color: #EBD7ED;border: none ;margin-left: 15px; padding:7px 11px"
            routerLink="/login" role="button"> Sign In </a>
        </div>
        <div class="card shadow rounded border-0">
          <div class="card-body">
            <img src="assets/images/Cloudstine/image (4).png" style="height:70px;width:200px;text-align: left;"
              alt="image(4)" />
            <h5>Forgot Password</h5>
            <form #forgotPasswordForm="ngForm" class="login-form mt-4">
              <div class="row" *ngIf="!EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">Mail ID <span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.UserName"
                        placeholder="Enter Mail ID" name="UserName" #UserName="ngModel" required />
                      <p class="mt-1">OTP is send on your registered mail ID</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button"
                      style="background-color: #AD60B7;color:#FFFFFF;border:none;width:420px;height: 45px;border-radius: 5px;"
                      data-bs-toggle="modal" data-bs-target="#sendOTP" (click)="SendOTP(forgotPasswordForm)">
                      Send OTP
                    </button>
                  </div>
                </div>
                <!-- <div class="mx-auto">
                  <p class="mb-0 mt-3">
                    <small class="text-dark me-2">Remember your password ?</small>
                    <a routerLink="/login" class="text-dark fw-bold">Sign in</a>
                  </p>
                </div> -->
              </div>
              <div class="row" *ngIf="EnterOtp">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label class="form-label">OTP<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i data-feather="mail" class="fea icon-sm icons"></i>
                      <input type="email" class="form-control ps-5" [(ngModel)]="loginModel.OTP"
                        placeholder="Enter Your OTP here" name="OTP" #OTP="ngModel" required />
                      <div style="font-size:12px; display: flex; justify-content: space-between;">
                        <p class="mb-2">OTP is sent to your registered mail ID</p>
                        <a href="#" style="text-align:right; text-decoration: none;">Resend OTP</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="button"
                      style="background-color: #AD60B7;color:#FFFFFF;border:none;width:420px;height: 45px;border-radius: 5px;"
                      class="ml-1" data-bs-toggle="modal" data-bs-target="#confirmOTP"
                      (click)="ConfirmOTP(forgotPasswordForm)">
                      Verify OTP
                    </button>
                  </div>
                </div>
                <!-- <div class="mx-auto">
                  <p class="mb-0 mt-3">
                    <small class="text-dark me-2">Remember your password ?</small>
                    <a routerLink="/login" class="text-dark fw-bold">Sign in</a>
                  </p>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->