<div style=" margin-left: 5px;" class="row d-flex">
  
    <h6 class="p-3 mb-2" style="border-bottom: 2px solid rgb(230, 230, 230);"><b> <span
      data-toggle="tooltip" title="Close"><i class="uil uil-multiply"></i> &nbsp;</span>TDS Return (FY 2023-24 | Q1 | 24Q | Regular)</b></h6>
    
  </div>
  
  <div class="py-2">
    <div class=" px-3 pb-2 col-12 border-bottom">
      <div class="left-section ">
        <a routerLink="/tds/tds-return/challan" class="tab-link" routerLinkActive="active"
          >Challan</a> &nbsp;&nbsp;
        <a routerLink="/tds/tds-return/employee" class="tab-link" routerLinkActive="active"
         >Employee</a>&nbsp;&nbsp;
         <a routerLink="/tds/tds-return/review-uplaod" class="tab-link" routerLinkActive="active"
         >Review & Upload</a>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    
  </div>