.main-title {
    display: flex;
    mat-icon {
        transform: rotate(90deg);
        cursor: pointer;
    }
    .spacer {
        flex: 1 1 auto;
    }
  }
  
  .round-btn {
    background: rgb(104, 104, 104);
    position: absolute;
    color: #fff;
    height: 20px;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    margin-top: 2px !important;
  }
  li{
    margin-right: 40px !important;
  }
  .tab-link{
    color: #000 !important;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .active {
   // color: #537ef4 !important;
    // background: linear-gradient(360deg, #46c0de00, #4688f11c);
    border-bottom: 4px solid #9938A5 !important;
    font-weight: 600;
  }