#topnav .logo {
  float: left;
  color: #ffffff !important;
  padding: 0 !important;
  line-height: 55px !important;
}
.logo-sm{
  display: none;
}
.logo-lg{
  display: block;
}
.btn.btn-count {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}



.count {
  background: white;
  color: black;
  border: 1px solid blue;
  margin-top: -25px;
  margin-left: -12px;
}
.active {
  color: #537ef4 !important;
  // background: linear-gradient(360deg, #46c0de00, #4688f11c);
}

//  #topnav .navigation-menu > li:hover > a,
// #topnav .navigation-menu > li.active > a {
//   color: #2f55d4 !important;
// }
.viewPromo {
  display: block;
}
.viewPromo1 {
  display: none;
}
.nodrop {
  display: none !important;
}
.drop {
  display: block !important;
}

@media only screen and (max-width: 600px) {
  .nodrop {
    display: block !important;
  }
  .drop {
    display: none !important;
  }
  .viewPromo {
    display: none;
  }
  .viewPromo1 {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .logo-sm{
    display: block;
  }
  .logo-lg{
    display: none;
  }
}


.cool-link {
  display: inline-block;
  color: #9938A5;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #9938A5;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  //transition: width .3s;
}
.blink {
  -webkit-animation: change 1s infinite both;
  animation: change 1s infinite both;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: change;
}

@keyframes change {
  0% {
    color:red;
    /* opacity: .5; */
  }
  100% {
    color:darkorange;
  }
}
#topnav .navigation-menu .has-submenu .menu-arrow{
  top:25px !important
}
// #topnav .navigation-menu .has-submenu .menu-arrow :hover{
//   top:30px !important
// }
#topnav .navigation-menu > .has-submenu:hover .menu-arrow {
  top: 30px !important;
}
#topnav .navigation-menu > .has-submenu.active .menu-arrow {
  top: 25px;
}
.hov-border:hover{
  //border-bottom: 1px solid #9938A5;
}




$border-color: #9938A5; // Set your border color
$border-width: 4px;     // Set your border width
$glow-size: 10px;       // Set the size of the glow
.border-outline p {
  font-size: 12px;
}
.windows-border {
  padding: 10px; // Adjust padding as needed
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid $border-width $border-color;
    background-color: #ebd7ed;
    opacity: 0;
    transition: opacity .3s ease-in-out;
   
  }

  &:hover:before {
    opacity: 1;
    
  }
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

$offwhite: darken(white, 10%);
$darkblue: #d6afdb;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $darkblue;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 100vh;
//   width: 100vw;
//   text-align: center;
// }

.border-outline {
  //font-family: 'Montserrat', sans-serif;
  //text-transform: uppercase;
  position: relative;
  padding: 10px;
  border: none;
  //font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  cursor: pointer;
  display: grid;
  align-items: center;
  //border-radius: 3px;
  //margin: 0 10px;
  //padding: 10px 15px;
  //border: 3px solid transparent;

  &:active {
    transform: translateY(3px);
  }

  &::after,
  &::before {
    border-radius: 3px;
  }

 
  &.material-bubble {
    background-color: transparent;
    //color: darken($darkblue, 10%);
    border: none;
    overflow: hidden;
    box-shadow: none;
   
    &:hover {
      //color: $offwhite;
      opacity: 1;
      
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //border: 3px solid darken($darkblue, 10%);
      border: solid 4px #9938A5;
      
      opacity: 0;
      border-radius: 0px;
      transition: opacity 0.3s, border 0.3s;
    }

    &:hover::before {
      opacity: 1;
      
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: lighten($darkblue, 10%);
      border-color: transparent;
      border-radius: 20%;
      transform: translate(0px, -100px) scale(0.1);
      opacity: 0;
      z-index: -1;
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
      
    }

    &:hover::after {
      
      opacity: 1;
      transform-origin: 100px 100px;
      transform: scale(1) translate(0px, -100px);
    }
  }
}



/////////////////////////BORDER_EFFECT///////////////////////////////////////////////////////////////////////

// @mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
//   box-shadow: inset 0 0 0 $width $color;
//   color: $color;
//   transition: color $duration $duration/3;
//   position: relative;
  
//   &::before,
//   &::after {
//     border: 0 solid transparent;
//     box-sizing: border-box;
//     content: '';
//     pointer-events: none;
//     position: absolute;
//     width: 0; height: 0;
    
//     #{$vertical}: 0; 
//     #{$horizontal}: 0;
//   }

//   &::before {
//     $h-side: if($horizontal == 'left', 'right', 'left');
    
//     border-#{$vertical}-width: $width;
//     border-#{$h-side}-width: $width;
//   }
  
//   &::after {
//     $v-side: if($vertical == 'top', 'bottom', 'top');
    
//     border-#{$v-side}-width: $width;
//     border-#{$horizontal}-width: $width;
//   }
  
//   &:hover {
//     color: $hover;
    
//     &::before,
//     &::after {
//       border-color: $hover;
//       transition: border-color 0s, width $duration, height $duration;
//       width: 100%;
//       height: 100%;
//     }
    
//     &::before { transition-delay: 0s, 0s, $duration; }
    
//     &::after { transition-delay: 0s, $duration, 0s; }
//   }
// }

// .draw-border {
//   @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
// }

// //=== Button styling, semi-ignore
// .border-btn {
//   background: none;
//   border: none;
//   cursor: pointer;
//   line-height: 1.5;
//   font: 700 1.2rem 'Roboto Slab', sans-serif;
//   padding: 1em 2em;
//   letter-spacing: 0.05rem;
  
//   &:focus { outline: 2px dotted #55d7dc; }
// }

// //=== Pen styling, ignore
// body { 
//   background: #1f1a25;
//   display: flex; 
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
// }


/////////////////////////BORDER_EFFECT///////////////////////////////////////////////////////////////////////


