<div style="height: 10vh;"></div>


<div class="row mt-5">
    <div class="text-center">
        <h2><b>Cloud Workspace</b></h2>
        <h4><b>Elevate Your Productivity, Anytime, Anywhere</b></h4>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-5" style="background-color:#d6afdb;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h3><b>Smart TDS</b></h3>
                            <p class="mt-3">Simplifying Tax Deduction at Source for Seamless Compliance.</p>
                            <button class="btn button mt-3" (click)="onClickProductPOI()"><span>Know More
                                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="">
                            <img src="assets/images/Cloudstine/smart_TDS.png" width="100%" height="auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-5" style="background-color:#eef2f8;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h3><b>E-Form 16</b></h3>
                            <p class="mt-3">Effortless E-Form 16 Processing for Simplified Tax Compliance.
                            </p>
                            <button class="btn button mt-3" (click)="onClickProductERI()"><span>Know More
                                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6  d-flex justify-content-center align-items-center">
                        <div class="">
                            <img src="assets/images/Cloudstine/form_16.png" width="100%" height="auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--CARD-->
<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>E-POI (Proof of Investment)</b></h3>
                    <p class="mt-3">Simplify your proof of investment processes with Cloudstine's E-POI solution.
                        Digitally manage and authenticate investment proofs seamlessly, ensuring compliance and
                        efficiency in employee tax calculations.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/POI.png" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/Tax_Plan.png" width="80%" height="auto">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>ERI-API (Income Tax E Return Intermediaries API)</b></h3>
                    <p class="mt-3">
                        Integrate seamlessly with the Income Tax Department using Cloudstine's ERI-API. Empower your
                        applications with secure and efficient e-filing capabilities, ensuring a smooth and reliable
                        interaction with tax authorities.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>E-Way Bill</b></h3>
                    <p class="mt-3">Navigate the complexities of E-Way Bill compliance effortlessly with Cloudstine. Our
                        E-Way Bill solution ensures smooth and accurate generation, validation, and management of
                        electronic waybills, ensuring compliance with GST regulations.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/E_way_Bill.png" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/E_Invoice.png" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>E-Envoice</b></h3>
                    <p class="mt-3">Embrace the digital era of invoicing with Cloudstine's E-Envoice solution.
                        Streamline your invoicing process under the GST framework, ensuring accuracy, efficiency, and
                        compliance with electronic invoicing requirements.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="background-color: #EBD7ED;">
    <div class="row">
        <div class="text-center mt-5">
            <h2><b>Why Cloud Workspace ?</b></h2>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-clouds icon"></i>
                    <h3>Secure Cloud Storage</h3>
                    <p>Safely store and access your files from anywhere with secure cloud storage. Enjoy the convenience
                        of having your documents, presentations, and other files readily available in the cloud.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-exchange icon"></i>
                    <h3>Cross-Platform Accessibility</h3>
                    <p>Access your workspace from various devices and operating systems. Whether you're using a
                        computer, tablet, or smartphone, Cloud Workspace ensures a consistent experience across
                        platforms.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-arrow-growth icon"></i>
                    <h3>Scalability</h3>
                    <p>Scale your workspace to accommodate your growing business needs. Whether you're a small startup
                        or a large enterprise, Cloud Workspace provides flexibility and scalability to support your
                        organization's growth.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-unlock icon"></i>
                    <h3>User Access Controls</h3>
                    <p>Manage user access efficiently with role-based permissions. Control who has access to specific
                        files, folders, or features within the workspace, enhancing security and data privacy.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-database icon"></i>
                    <h3>Automated Backups</h3>
                    <p>Enjoy peace of mind with automated backup features. Ensure that your data is regularly backed up
                        to prevent data loss and facilitate easy recovery in case of unforeseen events.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-mobile-android icon"></i>
                    <h3>Mobile Accessibility</h3>
                    <p>Stay productive on the go with mobile accessibility. Access your Cloud Workspace from your
                        smartphone or tablet, allowing you to respond to messages, review documents, and manage tasks
                        anytime, anywhere.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center">
            <h2><b>The best platform to streamline business compliance</b></h2>
            <button class="btn button mt-5" (click)="onClickSignup()"><span>SIGN UP FOR FREE
                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>