.details {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-size: 18px;
  }
  .icon{
    font-size: 30px;
    color: #9938A5;;
  }
  .arrow{
    font-size: 25px;
  }
  