<div style="height: 10vh;"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>Why Choose Us?</b></h2>
            <p class="mt-5">Join Cloudstine and be a part of a people-oriented community, where compassionate
                individuals have played a crucial role in shaping our distinctive culture since our inception. Our
                people are the essence of our culture, and together, we've fostered an ethos built on respect, joy,
                openness, and a dynamic workspace.
            </p>
            <p>At Cloudstine, our culture empowers team members across all levels to take ownership of their
                responsibilities. We provide the freedom and support necessary for every individual to thrive and
                succeed on their professional journey. Join us, where your career is not just a job, but a fulfilling
                and dynamic experience within a community that values your growth and contribution.</p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/people.png" alt="" width="80%">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center">
            <h2><b>#CloudstineLife - A Celebration of Work Experience</b></h2>
            <p>#CloudstineLife is not just a hashtag; it's a vibrant celebration of the unique working experience at
                Cloudstine. Since our establishment, our dedicated employees have been instrumental in shaping our
                distinctive culture, weaving it into the very fabric of their professional DNA. At Cloudstine, our
                people are the living embodiment of our culture, collaboratively creating an ethos rooted in respect,
                joy, openness, and a dynamic workspace. As more individuals join us over the years, they embrace and
                adopt our culture, making Cloudstine not just a workplace but a true home for professional growth and
                camaraderie.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1678282137742.jpeg" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1688446643413.jpeg" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1691588363924.jpeg" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1696919400995.jpeg" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1699102348004.jpeg" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="text-center image-container">
                <img src="assets/images/Home_Page/1699533445957.jpeg" alt="" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-5" style="background-color:  #EBD7ED;">
                <div class="text-left">
                    <h3>Empowering Diversity at Cloudstine</h3>
                    <h5>40% Women workforce </h5>
                    <p class="details">With a proud gender diversity ratio of 40:60, Cloudstine is committed to
                        fostering an inclusive
                        workplace. Women at Cloudstine actively lead some of our largest portfolios, showcasing their
                        impactful contributions. Our dedication to diversity and inclusion is not just a practice but an
                        integral part of our culture and core values. At Cloudstine, we celebrate the strength that
                        diversity brings to our team, driving innovation and excellence in everything we do.</p>
                    <h2>DIVERSITY</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-5" style="background-color: #EBD7ED;">
                <div class="text-left">
                    <h3>27 Years</h3><br>
                    <h5>Our Youthful Workforce</h5>
                    <p class="details">With an average age of 27 years, our workforce at Cloudstine embodies a dynamic
                        blend of
                        experience and youthful energy. The young generation, representing a significant portion of our
                        team, injects fresh ideas and innovative perspectives into our solutions. Their eagerness to
                        learn and build experiences fuels a culture of continuous growth and adaptation, ensuring that
                        Cloudstine remains at the forefront of innovation in the ever-evolving landscape of financial
                        technology and taxation.</p>
                    <h2 class="mt-4">QUALITY</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/factor.png" alt="" width="80%">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="text-left">
                <h5 style="color: #9938A5;">Fueling Excellence in an Inclusive Culture</h5>
                <p class="mt-3">At Cloudstine, hunger for excellence drives us. Fostering mutual respect and trust, our
                    dynamic workspace thrives on joy and openness, enabling everyone to reach their highest potential.
                </p>
            </div>
            <div class="text-left">
                <h5 style="color:#9938A5;">Nurturing Excellence through an Intrapreneurial Mindset</h5>
                <p class="mt-3">We’re hungry for excellence. Mutual respect and trust creates a dynamic workspace that
                    is
                    full of joy and openness which helps everyone achieve their highest potential.</p>
            </div>
            <div class="text-left">
                <h5 style="color:#9938A5">Driving Excellence through Innovative Solutions</h5>
                <p class="mt-3">At Cloudstine, our appetite for excellence, coupled with mutual respect and trust, fuels
                    a dynamic workspace infused with joy and openness, propelling everyone to achieve their highest
                    potential through innovative solutions.</p>
            </div>
        </div>
    </div>
</div>


<!--Form-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card custom-form border-0">
            <div class="card-body">
                <form ngForm #careersForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">First Name :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                    <input [(ngModel)]="careerMaster.FName" name="FName" #FName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(FName.touched || FName.dirty || careersForm.submitted) && FName.errors?.['required']">
                                        First Name Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.LName" name="LName" #LName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(LName.touched || LName.dirty || careersForm.submitted) && LName.errors?.['required']">
                                        Last Name Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Your Email :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.Email" name="Email" #Email="ngModel" type="text"
                                        class="form-control" ngModel required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
                                    <div class="error-msg"
                                        *ngIf="(Email.touched || Email.dirty || careersForm.submitted) && Email.errors?.['required']">
                                        Email Is Required</div>
                                    <div class="error-msg"
                                        *ngIf="(Email.touched || Email.dirty || careersForm.submitted) && Email.errors?.['pattern']">
                                        Enter Valid Email
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Your Phone no. :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.MobileNo" name="MobileNo" #MobileNo="ngModel"
                                        type="text" class="form-control" ngModel required pattern="^\d{10}$"
                                        maxlength="10" />
                                    <div class="error-msg"
                                        *ngIf="(MobileNo.touched || MobileNo.dirty || careersForm.submitted) && MobileNo.errors?.['required']">
                                        Mobile is required</div>
                                    <div class="error-msg"
                                        *ngIf="(MobileNo.touched || MobileNo.dirty || careersForm.submitted) && MobileNo.errors?.['pattern']">
                                        Enter Valid Mobile Number
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Job Location :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                    <input [(ngModel)]="careerMaster.CityId" name="CityId" #MName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(MName.touched || MName.dirty || careersForm.submitted) && MName.errors?.['required']">
                                        Job Location is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Job Title :<span class="text-danger">*</span></label>
                                <i data-feather="book" class="fea icon-sm icons"></i>
                                <select class="form-control" [(ngModel)]="careerMaster.DesignationId"
                                    name="DesignationId" #DesignationId="ngModel" required>
                                    <option *ngFor="let designation of designationList"
                                        [value]="designation.DesignationId">
                                        {{ designation.DesignationName }}
                                    </option>
                                </select>
                                <div class="error-msg"
                                    *ngIf="(DesignationId.touched || DesignationId.dirty || careersForm.submitted) && DesignationId.errors?.['required']">
                                    Job Title is Required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Your CV / Resume :</label>
                            <input type="file" id="resume" accept=".pdf,.doc,.docx"
                                (change)="OnResumeSelected($event)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="button" class="submitBnt btn" (click)="saveCareers(careersForm)"
                                    [disabled]="careersForm.invalid" style="background-color: #9938A5; color: white;">
                                    Save Careers
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>