.error-msg {
    color: red;
}

.details {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    font-size: 18px;
}
