<div style="height: 10vh;"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2><b>Why Incture?</b></h2>
            <p class="mt-5">We are a people-oriented company and a community of compassionate individuals. People have
                contributed to shaping the culture and making it a part of their DNA since Incture’s inception. Our
                People
                is our culture, together we have created an ethos of respect, joy, openness, and a dynamic workspace.  
            </p>
            <p>The culture of Incture encourages team members at all levels to take ownership of their responsibilities
                and
                provides them with the freedom and support they require to succeed in their professional journey.</p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/people.png" alt="" width="80%">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-left">
            <h2><b>#InctureLife</b></h2>
            <p>#InctureLife is about sharing and celebrating the experience of working at Incture. From the day Incture
                was
                established, our employees have helped in shaping the culture and made it a part of their DNA. At
                Incture,
                people are the culture and together we have created the ethos of respect, joy, openness and a dynamic
                workspace. Over the years, many more joined us, adopting the culture and accepting Incture as their
                home.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="text-center">
                <img src="assets/images/Home_Page/insecure.png" alt="" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-5" style="background-color: #F8F9FB;">
                <div class="text-left">
                    <h3>40%</h3>
                    <h5>Women workforce </h5>
                    <p>Our gender diversity ratio is 40:60. We have women handling some of the largest portfolios at
                        Incture. Diversity and inclusion are fundamental to our culture and core values.</p>
                    <h2>DIVERSITY</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-5" style="background-color: #F8F9FB;">
                <div class="text-left">
                    <h3>30 Years</h3>
                    <h5>Average age of our workforce</h5>
                    <p>The young generation brings new ideas and fresh approaches to our solutions. They are eager to
                        learn
                        and build their experiences.<br></p>
                    <h2>QUALITY</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/factor.png" alt="" width="80%">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="text-left">
                <h5 style="color: aquamarine;">Inclusive Culture</h5>
                <p class="mt-3">We’re hungry for excellence. Mutual respect and trust creates a dynamic workspace that
                    is
                    full of joy and openness which helps everyone achieve their highest potential.</p>
            </div>
            <div class="text-left">
                <h5 style="color: lightcoral">Intrapreneurial Mindset</h5>
                <p class="mt-3">We’re hungry for excellence. Mutual respect and trust creates a dynamic workspace that
                    is
                    full of joy and openness which helps everyone achieve their highest potential.</p>
            </div>
            <div class="text-left">
                <h5 style="color:blueviolet">Innovative Solutions</h5>
                <p class="mt-3">We’re hungry for excellence. Mutual respect and trust creates a dynamic workspace that
                    is
                    full of joy and openness which helps everyone achieve their highest potential.</p>
            </div>
        </div>
    </div>
</div>


<!--Form-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card custom-form border-0">
            <div class="card-body">
                <form ngForm #careersForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">First Name :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                    <input [(ngModel)]="careerMaster.FName" name="FName" #FName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(FName.touched || FName.dirty || careersForm.submitted) && FName.errors?.['required']">
                                        First Name Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.LName" name="LName" #LName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(LName.touched || LName.dirty || careersForm.submitted) && LName.errors?.['required']">
                                        Last Name Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Your Email :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.Email" name="Email" #Email="ngModel" type="text"
                                        class="form-control" ngModel required
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
                                    <div class="error-msg"
                                        *ngIf="(Email.touched || Email.dirty || careersForm.submitted) && Email.errors?.['required']">
                                        Email Is Required</div>
                                    <div class="error-msg"
                                        *ngIf="(Email.touched || Email.dirty || careersForm.submitted) && Email.errors?.['pattern']">
                                        Enter Valid Email
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Your Phone no. :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <input [(ngModel)]="careerMaster.MobileNo" name="MobileNo" #MobileNo="ngModel"
                                        type="text" class="form-control" ngModel required pattern="^\d{10}$"
                                        maxlength="10" />
                                    <div class="error-msg"
                                        *ngIf="(MobileNo.touched || MobileNo.dirty || careersForm.submitted) && MobileNo.errors?.['required']">
                                        Mobile is required</div>
                                    <div class="error-msg"
                                        *ngIf="(MobileNo.touched || MobileNo.dirty || careersForm.submitted) && MobileNo.errors?.['pattern']">
                                        Enter Valid Mobile Number
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Job Location :<span class="text-danger">*</span></label>
                                <div class="form-icon position-relative">
                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                    <input [(ngModel)]="careerMaster.CityId" name="CityId" #MName="ngModel" type="text"
                                        class="form-control" ngModel required />
                                    <div class="error-msg"
                                        *ngIf="(MName.touched || MName.dirty || careersForm.submitted) && MName.errors?.['required']">
                                        Job Location is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Job Title :<span class="text-danger">*</span></label>
                                <i data-feather="book" class="fea icon-sm icons"></i>
                                <select class="form-control" [(ngModel)]="careerMaster.DesignationId"
                                    name="DesignationId" #DesignationId="ngModel" required>
                                    <option *ngFor="let designation of designationList"
                                        [value]="designation.DesignationId">
                                        {{ designation.DesignationName }}
                                    </option>
                                </select>
                                <div class="error-msg"
                                    *ngIf="(DesignationId.touched || DesignationId.dirty || careersForm.submitted) && DesignationId.errors?.['required']">
                                    Job Title is Required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Your CV / Resume :</label>
                            <input type="file" id="resume" accept=".pdf,.doc,.docx"
                                (change)="OnResumeSelected($event)" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="button" class="submitBnt btn"
                                    (click)="saveCareers(careersForm)" [disabled]="careersForm.invalid" style="background-color: #9938A5;">
                                    Save Careers
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>