<div style="height: 10vh;"></div>

<!-- <img *ngIf="progress === 100" src="path/to/completed-image.png" alt="Completed Image" /> -->

<!--Empowering Your Business For Tomorrow-->
<div class="businesses">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7 p-5">
                <h1 class="text-white fw-bolder">Unlock the Power of Innovation</h1>
                <p class="mt-3 fs-5">
                    Embark on a transformative journey with Cloudstine, where we champion the cause of digital
                    transformation to empower businesses in the intricate realms of financial accounts and taxation. Our
                    mission is crystal clear - to collaborate seamlessly with you in turning ideas into dynamic
                    solutions that not only meet but exceed your expectations.
                </p>
                <button class="btn button mt-3" (click)="onClickService()"><span>Get Started
                        &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            <div class="col-sm-5 col-md-5 pt-3">
                <div class="text-center">
                    <img src="assets/images/Home_Page/Cloudstine_Model.png" alt="" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- DIGITAL PORTFOLIO-->
<div class="container">
    <div class="row mt-5">
        <div class="text-center">
            <h2 class="">
                DIGITAL PORTFOLIO
            </h2>
        </div>
        <div class="row position-relative">
            <div class="col-sm-6 col-md-6 mt-5">
                <div class="d-flex align-items-center justify-content-center text-center image-container">
                    <img [src]="imgHome" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="d-flex">
                    <div class="progress-container mt-3" [ngStyle]="{'width': transferPara ? '12px' : '10px'}">
                        <div class="progress-bar" [style.height.%]="progress"></div>
                    </div>
                    <div class="mt-3 bg-white ms-4">
                        <span class="paraHover" (click)="tranformImage()"
                            [ngStyle]="{'color': transferPara ? '' : 'darkgray'}">
                            <h4>Revolutionize Your Digital Core with Cloudstine</h4>
                            <p>#UnleashInnovation #ElevateEfficiency</p>
                        </span>
                        <div [ngClass]="transferPara ? 'max2':'max1'">
                            <p class="paraHover1">At Cloudstine, we redefine the essence of your digital core, setting
                                the stage for unprecedented efficiency and innovation in financial accounts and
                                taxation. Experience a transformative journey as we elevate your business to new heights
                                through our cutting-edge solutions.</p>
                            <div class="text-left">
                                <button type="button" class="btn btn-outline-cloud" (click)="onclickservice()">
                                    <span>Try Now &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="progress-container mt-3" [ngStyle]="{'width': SAPServicePara ? '11px' : '10px'}">
                        <div class="progress-bar" [style.height.%]="progress1"></div>
                    </div>
                    <div class="mt-3 bg-white ms-4">
                        <span class="paraHover" (click)="SAPServicesImage()"
                            [ngStyle]="{'color': SAPServicePara ? '' : 'darkgray'}">
                            <h4>SAP Core Services</h4>
                            <p>#SAPMastery #StreamlinedExcellence</p>
                        </span>
                        <div [ngClass]="SAPServicePara ? 'max2':'max1'">
                            <p class="">Discover the full potential of SAP through Cloudstine's expert services,
                                meticulously crafted to streamline financial transactions, elevate human capital
                                management, and cater to your programming needs.</p>
                            <div class="text-left">
                                <button type="button" class="btn btn-outline-cloud" (click)="onclicksap()">
                                    <span>Try Now &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="progress-container mt-3" [ngStyle]="{'width': taxWorkspacePara ? '12px' : '10px'}">
                        <div class="progress-bar" [style.height.%]="progress2"></div>
                    </div>
                    <div class="mt-3 bg-white ms-4">
                        <span class="paraHover" (click)="taxWorkspaceImage()"
                            [ngStyle]="{'color': taxWorkspacePara ? '' : 'darkgray'}">
                            <h4>Tax Workspace</h4>
                            <p>#StreamlinedCompliance #AccurateTaxSolutions</p>
                        </span>
                        <div [ngClass]="taxWorkspacePara ? 'max2':'max1'">
                            <p class="">Delve into Cloudstine's Tax Workspace, a comprehensive suite of tax applications
                                tailored for Income Tax, TDS/TCS, GST, and more. Experience streamlined compliance,
                                enhanced accuracy, and simplified tax-related processes.</p>
                            <div class="text-left">
                                <button type="button" class="btn btn-outline-cloud" (click)="onClickTaxService()">
                                    <span>Try Now &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Trusted By Our Customer-->
<div class="container">
    <div class="row mt-3 p-5">
        <div class="text-center">
            <h2>TRUSTED BY OUR CLIENTS</h2>
            <p>Elevate your financial journey with our cutting-edge cloud-based applications.</p>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/taxblock.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/SUDARSHANCHEMICALS.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/Excelacom.PNG" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/hexaware.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/HPE.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 mt-3">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/tataMotors.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-2">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/hexaware.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="text-center img-fluid">
                        <div class="">
                            <img src="assets/images/Cloudstine/PerfectDayFoods.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!--TAX Workspace-->
<div class="mt-3 p-5" style="background-color: #DEE5FF;">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <div class="">
                    <h2 style="color: #9938A5;"><b>% Cloud Workspace</b></h2>
                    <h3 class="mt-3">Empower Your Tax Journey
                        Effortlessly manage taxes with Cloudstine's Workspace, ensuring seamless compliance and
                        efficient operations.</h3>
                    <button class="btn button mt-3" (click)="onClickService()"><span>Try Now
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="text-center">
                    <img src="assets/images/Home_Page/IWM-Home-section.png.png" alt="" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>

<!--PROVEN BUSINESS RESULTS AT LEADING COMPANIES-->
<div class="container">
    <div class="row d-flex mt-3 p-5">
        <div class="col-sm-4 col-md-4">
            <h3 style="color: #9938A5;"><b>TRANSFORMATIVE
                    OUTCOMES ACHIEVED</b></h3>
        </div>
        <div class="col-sm-3 col-md-3">
            <h2 style="color: #9938A5;"><b>60%</b></h2>
            <h6>Accelerated Time-to-Market</h6>
            <div class="mt-3">
                <h2 style="color: #9938A5;"><b>360&#176;</b></h2>
                <h6>Visibility into Tasks and Processes</h6>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <h2 style="color: #9938A5;">
                <b> &lt;1</b>
            </h2>
            <h6>Realize ROI in Less Than a Year
            </h6>
            <div class="mt-3">
                <h2 style="color: #9938A5;"><b>50%</b></h2>
                <h6>Optimized Workflow</h6>
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <h2 style="color: #9938A5;"><b>3X</b></h2>
            <h6>Improvement Staff Productivity</h6>
        </div>
    </div>
</div>

<!--Your privacy is our responsibility-->
<div class="" style="background-color: #EBD7ED;">
    <div class="container">
        <div class="row mx-5 p-5">
            <div class="text-center">
                <div class="">
                    <img src="assets/images/Home_Page/Symbol.png" alt="">
                </div>
                <div class="mt-3">
                    <h1>Your Privacy Is Our Responsibility</h1>
                </div>
                <p style="font-size: 26px;">
                    At <span style="color: #9938A5;">Cloudstine</span>, we prioritize your privacy. We don't own or sell
                    your data, and our commitment to
                    trust is unwavering. Our revenue comes solely from the software license fees you pay, ensuring a
                    secure and transparent partnership.</p>
            </div>
        </div>
    </div>
</div>


<!--card-->
<div class="card-bg">
    <div class="card p-5 mx-5" style="border-radius: 15px;">
        <div class="text-center mt-5 mb-3">
            <h1>Driven By Core Values Always</h1>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="text-left">
                    <i class="uil uil-watch-alt align-middle icon"></i>
                    <h4>Sustained Long-Term Dedication</h4>
                    <p>With three years of experience, we intimately understand the challenges of a growing
                        business.
                        Our pride lies in sustaining a business powered by you, our valued customer</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="text-left">
                    <i class="uil-location-point icon"></i>
                    <h4>Focus on research and development</h4>
                    <p>Software is our craft, backed by relentless R&D investments; we own the entire technology
                        stack,
                        running data centers globally to ensure excellence</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="text-left">
                    <i class="uil-users-alt icon"></i>
                    <h4>Customer-Centric Approach Always</h4>
                    <p>Built on customer trust, we've secured a strong market position. No business is too small;
                        we're
                        dedicated to fostering your growth</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-5 mb-5">
            <button type="button" class="btn buttons" (click)="readAbout()">
                <span>Read About Us &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<!--Ready to Unlock Your Best Work?-->
<div class="" style="background-color: #F8F9FB;">
    <div class="row">
        <div class="text-center mt-5 mb-5">
            <h1 class="mt-3">Ready to Unlock Your Best Work?</h1>
            <h2 class="mt-3">Let's get you started</h2>
            <button type="button" class="btn buttons mt-5" (click)="onClickService()">
                <span>Access Your Apps&nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>