.title {
  font-weight: 700;
}

.scrollbox {
  overflow-y: scroll;
  background-color: #f6f6f6;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
}

.scrollbox:hover {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.scroll {
  height: 500px;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .scroll {
    height: auto;
    overflow: hidden;
  }

  .vertical-line {
    display: none !important;
  }
}

.businesses {
  background: linear-gradient(to bottom, #F17EFF 0%, #EBD7ED 100%);
}

.card-bg {
  background: linear-gradient(180deg, #EBD7ED 25%, transparent 25%);
}

.features {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.image-container {
  flex-grow: 1;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.image-container img {
  height: 100%;
  width: 100%;
}