<div class="container-flude">
  <div class="row" style="height:100vh;">
    <div class="col-md-5 pc-button d-flex align-items-center justify-content-center" style="background-color: #9938A5;">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <img src="assets/images/Home_Page/cloudstine_Login.png" alt="" width="70%" height="auto" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-center text-white">
            <h2>Cloudstine One Account</h2>
            <h4>One Account. Multiple Apps</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row my-5 mx-2">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
          <!--Button-->
          <div class="row d-flex justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-outline-cloud" (click)="Home_Page()">Home</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-cloud" (click)="onSignUpClick()">Sign Up</button>
            </div>
          </div>

          <!--Cloudstine Logo-->
          <div class="row mt-3">
            <div class="text-left">
              <img src="assets/images/Cloudstine/cloudstine.png" alt="" width="40%" height="auto">
            </div>
          </div>

          <!--Sign In-->
          <div class="row mt-3">
            <div class="text-left">
              <h3>Sign In</h3>
              <form class="login-form" [formGroup]="signInForm">
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="form-label">Mail Id<span class="text-danger">*</span></label>
                      <input type="email" class="form-control" placeholder="Enter Email Id" formControlName="email"
                        required="" />
                      <div class="form text text-danger"
                        *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                        This field is required
                      </div>
                      <div class="form text text-danger" *ngIf="Email.errors?.['email'] ">
                        Enter Valid Email Id
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <div class="form-group">
                      <label class="form-label">Password<span class="text-danger">*</span></label>
                      <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        required="" />
                      <div class="form text text-danger"
                        *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                        This field is required
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-end mt-3">
                    <div class="col-auto">
                      <a routerLink="/forgot-pass">Forgot password ?</a>
                    </div>
                  </div>


                  <div class="col-md-12 mt-3">
                    <div class="d-grid">
                      <button class="btn" (click)="onSignIn_Click()" style="background-color:  #9938A5; color: white;"
                        [disabled]="signInForm.invalid">
                        Sign in
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>