<div class="row">
    <div class="card">
        <!-- <div class="card-header">
          Card Title
        </div> -->
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" [readonly]="true" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-cloud me-3">Start Validation</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Valid PANs and Names</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" [readonly]="true" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Mis-Matched Name</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" [readonly]="true" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-cloud me-3">Correct Name</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Invalid PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" [readonly]="true" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Inoperative PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" [readonly]="true" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group" style="margin-top: 30px!important;">
                <div class="col-lg-4" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Previous TDS Return Filed?</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
        </div>

    </div>
    <div class="card">
        <!-- <div class="card-header">
          Card Title
        </div> -->
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Valid PANs and Names</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3" style="margin: 0px!important;">
                    <label for="mobile" class="col-form-label">Pending PANs</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="mobile" name="mobile" class="form-control" pattern="^\d{10}$" maxlength="10"
                        placeholder="Enter Section Name" required>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 px-4 py-2 border-top" style="position: fixed; bottom: 0;">
    <button class="btn btn-cloud me-2">Next</button>
    <button class="btn btn-fent-cloud" (click)="onCancleClick()">Cancel</button>
  </div>