<div class="row">
    <div class="card">
        <!-- <div class="card-header">
          Card Title
        </div> -->
        <div class="card-body">
            <form [formGroup]="myForm">
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="pendingPANs" class="col-form-label">Pending PANs</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="pendingPANs" formControlName="pendingPANs" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-cloud me-3">Start Validation</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="validPANsAndNames" class="col-form-label">Valid PANs and Names</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="validPANsAndNames" formControlName="validPANsAndNames" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="misMatchedName" class="col-form-label">Mis-Matched Name</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="misMatchedName" formControlName="misMatchedName" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-cloud me-3">Correct Name</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="invalidPANs" class="col-form-label">Invalid PANs</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="invalidPANs" formControlName="invalidPANs" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="inoperativePANs" class="col-form-label">Inoperative PANs</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="inoperativePANs" formControlName="inoperativePANs" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                </div>
                <div class="row form-group" style="margin-top: 30px!important;">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="previousTDSReturnFiled" class="col-form-label">Previous TDS Return Filed?</label>
                    </div>
                    <div class="col-lg-3">
                        <select id="previousTDSReturnFiled" formControlName="previousTDSReturnFiled"
                            class="form-control" required>
                            <option value="" disabled>Select an option</option>
                            <option *ngFor="let option of previousTDSOptions" [value]="option">{{ option }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="myForm">
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="misMatchedChallan" class="col-form-label">MisMatched Challan</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="misMatchedChallan" formControlName="misMatchedChallan" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter MisMatched Challan" required>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-cloud me-3">Verify Challan</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="MatchedChallan" class="col-form-label">Matched Challan</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="MatchedChallan" formControlName="MatchedChallan" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Matched Challan" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="overBookedChallan" class="col-form-label">Overbooked Challan</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="overBookedChallan" formControlName="overBookedChallan" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Overbooked Challan" required>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-cloud me-3">View Challan List</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="unMappedEmpWithChallan" class="col-form-label">Un-Mapped Employee with Challan</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="unMappedEmpWithChallan" formControlName="unMappedEmpWithChallan" [readonly]="true"
                            class="form-control" maxlength="10" placeholder="Enter Section Name" required>
                    </div>
                </div>
                <div class="row form-group" style="margin-top: 60px!important;">
                    <div class="col-lg-4" style="margin: 0px!important;">
                        <label for="prn" class="col-form-label">Previous Receipt Number</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="prn" formControlName="prn"
                            class="form-control" maxlength="10" placeholder="Enter PRN" required>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-cloud me-3">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-12 px-4 py-2 border-top" style="position: fixed; bottom: 0;">
    <button class="btn btn-cloud me-2">Next</button>
    <button class="btn btn-fent-cloud" (click)="onCancleClick()">Cancel</button>
</div>