.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin: 0%;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
  }

  .btn {
    width: 150px;
    white-space: nowrap;
  }