<div class="col-md-12" style="display: flex; justify-content: flex-end; margin-top: -40px;" >
  <button class="btn btn-fent-cloud" ><i class="uil uil-upload-alt"></i> Upload Exel</button>&nbsp;&nbsp;
  <button class="btn btn-fent-cloud" ><i class="uil uil-download-alt"></i> Pull Employee</button>&nbsp;&nbsp;
  <button class="btn btn-fent-cloud" (click)="onAddEmployee()"><i class="uil uil-plus"></i> Add Employee</button>
</div>
<!-- ag-grid -->
<app-data-grid class="ag-theme-alpine" #declaredGrid [tableData]="tdsReturnList" [tableColumns]="declaredTableColumns"
  [isEditable]="false" [isSortable]="true" [isFilterable]="false" [isColumnFilterable]="false" [isResizable]="false"
  [isPageable]="true" [defaultPageSize]="12" (selectedRows)="selectEmployee($event)" (rowAction)="onRowAction($event)">
</app-data-grid>
<!-- end of ag-grid -->
<!-- Buttons -->
<div class="row mb-3 mt-4">
  <div class="col-12 mx-2 " align="left">
    <a type="button" class="btn btn-cloud" href="/tds/dashboard">Verify PAN</a>&nbsp;&nbsp;
    <a type="button" class="btn btn-cloud" href="/tds/dashboard">Map Challan</a>&nbsp;&nbsp;
    <a type="button" class="btn btn-cloud" href="/tds/dashboard">Delete</a>&nbsp;&nbsp;
  </div>
</div>
<!-- end of button -->