<div style="height: 10vh;"></div>

<div class="" style="background-color: #DEE5FF;">
    <div class="container p-5">
        <div class="row">
            <div class="text-center">
                <h1><b>Our Customers</b></h1>
                <p class="mt-3">As a digital systems company, we are a community of purpose-led individuals at
                    Cloudstine, passionately committed to enhancing lives through technology. Specializing in Tax
                    workflow Intelligent Digital Applications and systems, we deliver innovative solutions swiftly and
                    at scale, addressing complex business challenges for our valued customers. Our people-driven
                    organization is built on the foundation of empowering employees, fostering a dynamic workspace
                    guided by the ethos of respect, joy, and openness. At Cloudstine, we leverage technology to not just
                    provide solutions but to transform and elevate the lives of our customers and employees alike.</p>
            </div>
        </div>
    </div>
</div>



<div class="container p-5 mt-5">
    <div class="row">
        <div class="col-sm-2 mt-3">
            <div class="text-center d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Home_Page/Taxblock.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-3">
            <div class="text-center d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Home_Page/Sudarshan.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-3">
            <div class="text-center">
                <div class="">
                    <img src="assets/images/Home_Page/CSG.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-3">
            <div class="text-center">
                <div class="">
                    <img src="assets/images/Home_Page/Dell.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-3">
            <div class="text-center">
                <div class="">
                    <img src="assets/images/Home_Page/CRED.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-3">
            <div class="text-center">
                <div class="">
                    <img src="assets/images/Home_Page/Emsecure.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <h5><b>Empowering AGCO: Intelligent Procurement Solutions by Cloudstine</b></h5>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <div class="text-end">
                <img src="assets/images/Home_Page/IFFCO_Customer.png" alt="">
            </div> -->
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <img src="assets/images/Home_Page/IFFCO_logo.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <p>
                In navigating diverse operational landscapes across multiple regions, our quest for efficiency led us to
                a global solution with standardized processes. The integration of SAP Cloud Platform with multiple
                back-end systems not only streamlined operations but also achieved end-to-end automation, ensuring a
                cohesive and efficient workflow.
            </p>
            <p><b>Jeetendra Kumar </b></p>
            <p>Chief of Enterprise Architecture and Applications​
                AGCO Corporation</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- <div class="text-left">
                <img src="assets/images/Home_Page/IFFCO_Customer.png" alt="">
            </div> -->
        </div>
        <div class="col-md-6">
            <h5><b>Empowering Efficiency: IFFCO's Productivity Boost with Cloudstine's Tax Workspace</b>​</h5>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <img src="assets/images/Home_Page/AGCO_Customer.png" alt="">
            </div>
        </div>
        <div class="col-md-6 ">
            <p>
                Navigating diverse operational landscapes across regions, the need for a global solution with
                standardized processes led us to integrate SAP Cloud Platform seamlessly with multiple back-end systems.
                This integration not only ensured global standardization but also facilitated end-to-end automation of
                critical processes, harmonizing efficiency across varied operational frameworks.
            </p>
            <p><b>Jeetendra Kumar </b></p>
            <p>Chief of Enterprise Architecture and Applications​
                AGCO Corporation</p>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <h3>OVER​ 100+ CUSTOMERS​ TRUST US​ </h3>
        </div>
    </div>
    <div class="row  mt-5">
        <div class="col-md-6">
            <div class="text-start">
                <img src="assets/images/Home_Page/IFFCO_Customer.png" alt="">
            </div>
            <div class="">
                <p>Cloudstine's Tax Workspace delivered a remarkable 15-20% productivity gain within our existing
                    workforce. Harnessing the power of SAP Cloud Platform technology, this transformative approach not
                    only excites us but also successfully resolves significant business challenges, marking a
                    substantial leap forward.</p>
                <p><b>Team Murphy</b></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-start">
                <img src="assets/images/Home_Page/IFFCO_Customer.png" alt="">
            </div>
            <div class="">
                <p>Cloudstine's Smart TDS application revolutionizes tax deduction at the source, empowering businesses
                    with real-time insights into deduction status, facilitating informed negotiations for the sales
                    team. Back office operations witness a 50% boost in efficiency through streamlined processes, and
                    leadership gains mobile access to comprehensive, real-time TDS status, ensuring proactive monitoring
                    of overall company tax performance.</p>
                <p><b>Team Foulath</b></p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="card" style="background-color:#F8F9FB; border-radius: 15px;">
            <div class="row">
                <div class="col-md-8 p-5">
                    <h3>Ready to Transform Your Business?</h3>
                    <p>Unlock the full potential of our Digital Portfolio and reimagine your business journey with Cloudstine.</p>
                </div>
                <div class="col-md-4 p-5 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn button" (click)="consultNow()">
                        <span>Consult Now&nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>