<div class="" style="height: 10vh;"></div>

<div class="" style="background-color: #EBD7ED;">
    <div class="container  mb-5">
        <div class="row">
            <div class="col-md-8 p-5">
                <h2>
                    <b>
                        Secure business email for your organization
                    </b>
                </h2>
                <p class="mt-5 fs-4">Host your business email on a secure, encrypted, privacy-guaranteed, and ad-free
                    email
                    service, and add a
                    professional touch to every email that goes out.</p>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="assets/images/Home_Page/expert1.png" width="100%" height="auto">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="text-center">
                <img src="assets/images/Home_Page/pc_screenshot.png" width="70%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <p class="fs-5">"Zoho Mail is an excellent email service that is clean, fast, and offers better protection
                against fake emails."</p>
            <h5><b>Carolina Astaiza M</b></h5>
            <p>
                Vice President - Talent & Acquisition
            </p>
        </div>
        <div class="col-md-6">
            <p class="fs-5">"Zoho Mail is an excellent email service that is clean, fast, and offers better protection
                against fake emails."</p>
            <h5><b>Carolina Astaiza M</b></h5>
            <p>
                Vice President - Talent & Acquisition
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 p-5">
            <h3><b>
                    Unparalleled security and privacy
                </b></h3>
            <p class="mt-5">
                Zoho Mail's data centers have top-notch security and surveillance, with a reliable 99.9% uptime. Benefit
                from secure email hosting that supports encryption both at rest and in transit, along with S/MIME
                message encryption.
            </p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/animation.png" width="70%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/domain.png" width="70%" height="auto">
            </div>
        </div>
        <div class="col-md-6 p-5">
            <h3><b>
                    Stay professional with
                    email@yourdomain.com
                </b></h3>
            <p class="mt-5">
                Create a domain for your business and set up custom email addresses for users. Unique and professional
                email addresses give your company the visibility and authenticity it deserves.
            </p>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 p-5">
            <h3><b>
                    Extensive
                    Control Panel
                </b></h3>
            <p class="mt-5">
                Zoho Mail's powerful Control Panel is the admin's go-to place for all settings, configuration, and
                customization. Add users, manage group aliases, set up policies to moderate business email content, and
                more.
            </p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/control_panel.png" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/email_retention.png" width="70%" height="auto">
            </div>
        </div>
        <div class="col-md-6 p-5">
            <h3><b>
                    Email retention and e-Discovery
                </b></h3>
            <p class="mt-5">
                Retain emails across your organization for a specified period to comply with company standards and to
                counter legal attacks. e-Discovery helps discover such retained emails quickly.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 p-5">
            <h3><b>
                    Streams - the newer way to email
                </b></h3>
            <p class="mt-5">
                Add a social media flavor to your mailboxes with Streams. Replace unending email threads with comments,
                tag your teammates, share files, manage tasks, and much more, right from within your inbox.
            </p>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="assets/images/Home_Page/streams.png" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-5" style="background-color: #EBD7ED;">
                <div class="text-center">
                    <i class="uil-lock-open-alt icon"></i>
                    <h4 class="mt-3"><b>Data Privacy and Security</b></h4>
                    <p class="mt-3">Take complete control of your email data. Our best-in-class privacy practices ensure
                        your data belongs only to you.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-5" style="background-color: #EBD7ED;">
                <div class="text-center">
                    <i class="uil-sync-exclamation icon"></i>
                    <h4 class="mt-3"><b>Email and Calendar Migration</b></h4>
                    <p class="mt-3">Switch from other providers to the secure Zoho Mail using our migration tools and
                        POP/IMAP migration.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-5" style="background-color: #EBD7ED;">
                <div class="text-center">
                    <i class="uil-square-shape icon"></i>
                    <h4 class="mt-3"><b>Business email with CRM</b></h4>
                    <p class="mt-3">Integrate with Zoho CRM to manage your sales better. Do more with other in-house and
                        third-party integrations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 text-left">
            <h3><b>
                    Frequently asked questions
                </b></h3>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row" style="cursor: pointer;">
        <div class="text-left ">
            <div *ngFor="let faqItem of faqData">
                <div class="row" (click)="toggleAnswer(faqItem)">
                    <div class="col-md-11">
                        <div class="question">
                            <h5><b> {{ faqItem.question }}</b></h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span class="toggle-icon" >
                            {{ faqItem.showAnswer ? '-' : '+' }}
                        </span>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="answer" *ngIf="faqItem.showAnswer">
                        <p>{{ faqItem.answer }}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>