<div style="height: 10vh;"></div>

<div class="container mt-5">
    <div class="row">
        <div class="card" style="background-color: #EBD7ED;">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                    <div class="text-left">
                        <h2><b>Contact Us</b></h2>
                        <h4 class="mt-3">Embark on the journey of successful business transformation. Let's connect and
                            start shaping your path to success with Cloudstine.</h4>
                        <button class="btn button mt-3"><span>Get in Touch
                                &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6 p-5">
                    <div class="text-center">
                        <img src="assets/images/Cloudstine/contact.png" alt="" width="80%" height="auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Form-->
<div class="container mt-5">
    <div class="row">
        <div class="card p-5">
            <div class="text-left">
                <h4>
                    Connect With Us
                </h4>
            </div>
            <form #contactus="ngForm" (ngSubmit)="onClickSubmit()">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label">Name:<span style="color: red;">*</span></label>
                        <div class="">
                            <input type="text" name="name" class="form-control" placeholder="Enter Your Name"
                                [(ngModel)]="user.name" #name="ngModel" pattern="[a-zA-Z ]+" required>
                            <div class="error-msg"
                                *ngIf="(name.touched || contactus.submitted || name.dirty) && name.errors?.['required']">
                                Name Is
                                Required</div>
                            <div class="error-msg" *ngIf="name.errors?.['pattern']">Name should only contain
                                alphabetical
                                characters</div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Email:<span style="color: red;">*</span></label>
                        <div class="">
                            <input type="email" name="email" class="form-control" [(ngModel)]="user.email"
                                placeholder="Email" #email="ngModel"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" required>
                            <div class="error-msg"
                                *ngIf="(email.touched || email.dirty || contactus.submitted) && email.errors?.['required']">
                                Email is required
                            </div>
                            <div class="error-msg"
                                *ngIf="(email.touched || email.dirty || contactus.submitted) && email.errors?.['pattern']">
                                Enter Valid Email
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label">Mobile:<span style="color: red;">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="mobile" [(ngModel)]="user.mobile" class="form-control"
                                #mobile="ngModel" pattern="^\d{10}$" maxlength="10" placeholder="Mobile No" required>
                            <div class="error-msg"
                                *ngIf="(mobile.touched || mobile.dirty || contactus.submitted) && mobile.errors?.['required']">
                                Mobile is required</div>
                            <div class="error-msg"
                                *ngIf="(mobile.touched || mobile.dirty || contactus.submitted) && mobile.errors?.['pattern']">
                                Enter Valid Mobile Number
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Subject:<span style="color: red;">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="subject" [(ngModel)]="user.subject" class="form-control"
                                #subject="ngModel" placeholder="Subject" required>
                            <div class="error-msg"
                                *ngIf="(subject.touched || subject.dirty || contactus.submitted) && subject.errors?.['required']">
                                Subject is required</div>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label">Messege:
                        </label>
                        <div class="">
                            <textarea name="comments" [(ngModel)]="user.comments" class="form-control"
                                placeholder="Message:" #comments="ngModel" rows="3"></textarea>
                        </div>
                    </div>
                </div><br>
                <div class="text-center">
                    <button [disabled]="contactus.invalid" class="btn text-white"
                        style=" background-color: #9938A5;">Send Messege</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="card" style="background-color: #EBD7ED;">
            <div class="row">
                <div class="col-md-6 p-5">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/india.png" alt="" width="80%" height="auto">
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                    <div class="text-left">
                        <h3><b>HEADQUARTERS</b></h3>
                        <h4><b>INDIA</b></h4>
                        <h5>Cloudstine Automation Private Limited</h5>
                        <h6>
                            Office No 301, 3rd Floor, Epicentre,
                            Old Mumbai - Pune Rd, Wakadewadi, Shivajinagar,
                            Pune, Maharashtra 411005</h6>
                        <a href="https://www.google.com/maps/place/Taxblock+India+Pvt+Ltd/@18.5355662,73.8514325,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc2c1b7edcbcd71:0x3852ffc7ae40c976!8m2!3d18.5355662!4d73.8514325!16s%2Fg%2F11l7_7359b?entry=ttu"
                            class="text-foot" target="_blank">
                            View on google map
                        </a>
                        <h6 class="mt-3">Phone : +918068944550</h6>
                        <h6>Email: info@cloudstine.com
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card" style="background-color: #EBD7ED;">
            <div class="row">
                <div class="col-md-6 p-5">
                    <div class="text-center image-container">
                        <img src="assets/images/Home_Page/singapor.png" alt="" width="80%" height="auto">
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                    <div class="text-left ">
                        <h3><b>ACROSS THE GLOBE</b></h3>
                        <h4><b>Singapore</b></h4>
                        <h6>Rolling Arrays Consulting Pte. Ltd. Headquarters
                            9 Straits View, Marina One West Tower, #05-07, Singapore 018937</h6>
                        <a href="https://www.google.com/maps/place/Taxblock+India+Pvt+Ltd/@18.5355662,73.8514325,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc2c1b7edcbcd71:0x3852ffc7ae40c976!8m2!3d18.5355662!4d73.8514325!16s%2Fg%2F11l7_7359b?entry=ttu"
                            class="text-foot" target="_blank">
                            View on google map
                        </a>
                        <!-- <h6 class="mt-3">Phone : +65 80314594</h6>
                        <h6>Email: singapore@cloudstine.com
                        </h6> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="" style="background-color: #F8F9FB;">
    <div class="row">
        <div class="col-md-4 p-5">
            <div class="text-center">
                <img src="assets/images/Home_Page/Android_logo.png" alt="" width="40%" height="auto">
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center p-5">
            <div class="text-left ">
                <h3>We’re happy to help</h3>
                <h4 class="mt-3">Have any questions about Rolling Arrays, get in touch.</h4>
                <button type="button" class="btn button mt-3">
                    <span>Contact Us&nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div> -->