<div class="" style="height: 10vh;"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-left">
                <h2><b>Payroll software crafted to build a better workplace</b></h2>
                <p class="fs-5 mt-3">With the simplified payroll software, spend less time on payroll and more time on
                    <br>growing business.
                </p>
                <button type="button" class="btn btn-outline-cloud">
                    <span>Try Now &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="">
                <img src="assets/images/Cloudstine/tech16.png" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5" style="background-color: #d6afdb;">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2><b>Our customers had<br>
                        smooth transitions, sweeping impacts</b></h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3  mb-5">
                <div class="text-left">
                    <h3 style="color:  #9938A5;;"><b>90%</b></h3>
                    <p class="mt-2">of Zoho Payroll customers switched from spreadsheets to cloud-based payroll
                        software.</p>
                </div>
            </div>
            <div class="col-md-3  mb-5">
                <div class="text-left">
                    <h3 style="color:  #9938A5;;"><b>70%</b></h3>
                    <p class="mt-2">of operations time saved by customers on average after using Zoho Payroll.</p>
                </div>
            </div>
            <div class="col-md-3  mb-5">
                <div class="text-left">
                    <h3 style="color:  #9938A5;;"><b>4/5</b></h3>
                    <p class="mt-2">customers enjoyed hassle-free migration to Zoho Payroll, even in the middle of the
                        fiscal year.</p>
                </div>
            </div>
            <div class="col-md-3  mb-5">
                <div class="text-left">
                    <h3 style="color:  #9938A5;;"><b>90%</b></h3>
                    <p class="mt-2">of our customers eliminate multi-vendor coordination through our pre-integrated
                        apps.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="text-center">
        <h2><b>Payroll experience redefined to be stress free</b></h2>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil-usd-circle icon icon"></i>
                <h3>Automatic payroll calculation</h3>
                <p>Run payroll in a few clicks and automatically generate payslips online with a thorough breakdown of
                    taxes, allowances, and deductions.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil uil-repeat icon"></i>
                <h3>Embrace diverse salary structures</h3>
                <p>Create multiple pay slabs for your staff, leads, and managers and associate the right template with
                    each employee.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil-clock-ten icon"></i>
                <h3>Pay employees on time, every time</h3>
                <p>Transfer employees' salaries directly to their bank accounts with timely online transfers and readily
                    available bank advice.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class=" uil-check-circle icon"></i>
                <h3>Straightforward statutory compliance</h3>
                <p>Steer your business clear of compliance penalties. We handle your statutory compliance including PF,
                    PT, ESI, LWF and IT and make filing easy with tax reports.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil-layers icon"></i>
                <h3>Encourage employee self service</h3>
                <p>Enable seamless collaboration between employees and your payroll staff and reduce the burden of
                    employee requests.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <i class="uil-user-times icon"></i>
                <h3>Fine tune admin privileges</h3>
                <p>Invite your qualified staff to process payroll but maintain control with user roles and role-based
                    access.</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="text-center"> <a class="fs-6" routerLink="/home">
                <span>Explore More Featured
                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a> </div>
    </div>
</div>

<div class="mb-5" style="background-color: #d6afdb;">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h2><b>We get payroll done so you can get other things done</b></h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-5">
                <div class="text-center">
                    <img src="assets/images/Cloudstine/tech17.png" width="70%" height="auto">
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="text-left mt-5">
                    <h4><b> Engage people, not process</b></h4>
                    <p class="mt-3">Scaling up your business fast? Add your new hires to your payroll in a few simple
                        steps, and manage all their information centrally.</p>
                    <ul>
                        <li>Administer employees' information and records.</li>
                        <li>Choose how you want to pay your employees.</li>
                        <li>Manage your employee exit process.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="text-center">
            <h4><b><span style="font-size:35px; color: #9938A5;">"</span> Helping customers<br> succeed with
                    payroll</b></h4>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center">
                <div class="text-center image-container">
                    <img src="assets/images/Home_Page/Vinit Ugale.png">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-left">
                <p>The overall experience has been great with Zoho Payroll. It's easy to set up, has a polished user
                    interface, and a fantastic support team. Automated payroll accounting with Zoho Books, and direct
                    salary payments with ICICI bank makes Zoho Payroll stand out</p>
                <p class="fs-5" style="color: #9938A5;">Hiral Pancholi</p>
                <p>Swastik Technopack Pvt. Ltd., Mumbai</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card p-5" style="background-color: #DEE5FF;">
            <div class="text-center">
                <h3><b>Cloud payroll system best suited for Indian businesses</b></h3>
                <button type="button" class="btn btn-outline-cloud mt-5">
                    <span>Try Now &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>