<div style="height: 10vh;"></div>


<div class="container">
    <div class="row mt-5">
        <div class="text-center">
            <h2><b>Tranform Your Digital Core</b></h2>
            <h5 class="px-5 mt-3"><b>Empower Growth: Transform Your Digital Core with SAP Integration Expertise</b></h5>
        </div>
    </div>
</div>



<!--CARD-->
<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>SAP Integration</b></h3>
                    <p class="mt-3">Seamlessly connect your business processes and systems with SAP Integration
                        services. Achieve enhanced data flow, collaboration, and efficiency across your organization.
                    </p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/sap_integration.png" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/inteligent_process.png" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>Intelligent Process Automation</b></h3>
                    <p class="mt-3">
                        Optimize and automate your business processes intelligently with SAP's Intelligent Process
                        Automation. Enhance operational efficiency, reduce errors, and accelerate task completion.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-5" style="background-color:#d6afdb;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h3><b>Data & AI</b></h3>
                            <p class="mt-3">Leverage the power of data with SAP's Data & AI services. Uncover actionable
                                insights, drive informed decision-making, and unlock the potential of your data assets.
                            </p>
                            <button class="btn button mt-3" (click)="onClickProductPOI()"><span>Know More
                                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="">
                            <img src="assets/images/Cloudstine/AI.png" width="100%" height="auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-5" style="background-color:#eef2f8;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h3><b>Mobility & UX</b></h3>
                            <p class="mt-3">Transform user experiences and enhance mobility with SAP's Mobility & UX
                                services. Deliver intuitive, user-friendly interfaces and enable access to critical
                                business functions.
                            </p>
                            <button class="btn button mt-3" (click)="onClickProductERI()"><span>Know More
                                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="">
                            <img src="assets/images/Cloudstine/UX.png" width="100%" height="auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>Sustainability Management</b></h3>
                    <p class="mt-3">Embrace sustainability with SAP's Sustainability Management services. Monitor,
                        manage, and report on your organization's environmental and social impact, contributing to a
                        more sustainable future.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/substanibility.png" width="100%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="p-3">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <img src="assets/images/Cloudstine/cloud.png" width="100%" height="auto">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-left mt-5">
                    <h3><b>Cloud Platform & Solutions</b></h3>
                    <p class="mt-3">Modernize your IT infrastructure and operations with SAP's Cloud Platform &
                        Solutions. Embrace the flexibility, scalability, and innovation offered by cloud-based
                        technologies.</p>
                    <button class="btn button mt-3" (click)="onClickProduct()"><span>Know More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="background-color: #EBD7ED;">
    <div class="row">
        <div class="text-center mt-5">
            <h2><b>Why Transform Your Digital Core ?</b></h2>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-clouds icon"></i>
                    <h3>Seamless Integration</h3>
                    <p>Connect and integrate diverse SAP modules and systems seamlessly for efficient data exchange.</p>
                        <p>Ensure real-time synchronization to maintain the consistency and accuracy of data across the organization.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-database icon"></i>
                    <h3>Data-driven Decision Making</h3>
                    <p>Access actionable insights from your SAP data to drive informed decision-making.</p>
                    <p>Utilize advanced analytics tools to uncover trends, patterns, and opportunities within your data.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-processor icon"></i>
                    <h3>Process Optimization</h3>
                    <p>Streamline and optimize business processes for improved efficiency and productivity.</p>
                    <p>Implement automation to reduce manual efforts, errors, and operational bottlenecks.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-unlock icon"></i>
                    <h3>Sustainability Integration</h3>
                    <p>Align SAP operations with sustainability goals and eco-friendly practices.</p>
                    <p>Monitor and reduce the environmental impact of business processes, ensuring compliance with sustainability standards.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-arrow-growth icon"></i>
                    <h3>Adaptability and Scalability</h3>
                    <p>Build a digital core that is adaptable to changing business needs and scalable for future growth.</p>
                    <p>Ensure the flexibility to incorporate new technologies and accommodate evolving industry requirements.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-left p-5">
                    <i class="uil uil-user icon"></i>
                    <h3>Customer-Centric Approach</h3>
                    <p>Focus on delivering value to customers by aligning SAP processes with customer needs.</p>
                    <p>Implement features that enhance customer engagement, satisfaction, and overall experience.</p>
                    <!-- <a class="fs-6" routerLink="/home">
                        <span>Learn More
                            &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="text-center">
            <h2><b>Transform Your Digital Core with Effortless Business Compliance Streamlining</b></h2>
            <button class="btn button mt-5" (click)="onClickContactUS()"><span>CONTACT US
                    &nbsp;</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>